.intro .social-media {
  margin-top: 30px;
}
.intro .social-media h6 {
  line-height: 2;
}
.intro p {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #747474;
}
.intro .social-icons a {
  font-size: 16px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.intro .social-icons a:hover {
  color: #747474;
}
.explanation span {
  font-size: 16px;
  font-weight: 600;
}
.member img {
  width: 100%;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cover:hover {
  opacity: 1;
}
.cover .social-icons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.cover li {
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background-color: #535353;
  width: 35px;
  height: 35px;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cover li:hover {
  background-color: white;
}
.cover li:hover a {
  color: #535353;
}
.cover a {
  color: white;
}
.person {
  margin: 15px 0 35px 0;
  border-left: 8px solid #eee;
}
.person .name {
  margin-left: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3a3a3a;
}
.person .p-title {
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #939393;
}
.wanted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
}
.wanted .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #939393;
}
.workspace .slick-prev {
  height: 50px;
}
.workspace .slick-prev:before {
  font-family: "fontello";
  content: "\f104";
  color: #868686;
  font-size: 20px;
  opacity: 0.7;
}
.workspace .slick-prev:hover:before {
  color: black;
}
.workspace .slick-next {
  height: 50px;
}
.workspace .slick-next:before {
  font-family: "fontello";
  content: "\f105";
  color: #868686;
  font-size: 20px;
  opacity: 0.7;
}
.workspace .slick-next:hover:before {
  color: black;
}
.workspace .wrapper {
  padding: 0 15px;
}
.workspace img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}
.workspace .row {
  margin-left: -2px;
  margin-right: -2px;
}
.workspace .col-4,
.workspace .col-5,
.workspace .col-7,
.workspace .col-8,
.workspace .col-12 {
  padding-left: 2px;
  padding-right: 2px;
}
.workspace .workspace-img-full-width {
  height: 307px;
}
.workspace .workspace-img {
  height: 182px;
}
.workspace .workspace-img-height {
  margin-top: 5px;
  height: 120px;
}
@media (min-width: 768px) {
  .intro .social-media {
    text-align: left;
  }
  .intro .social-media h6 {
    margin-bottom: 0;
  }
  .intro .social-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .workspace .slick-prev,
  .workspace .slick-next {
    font-size: 30px;
  }
  .workspace .slick-dots li {
    width: 65px;
  }
  .workspace .slick-dots li button {
    width: 65px;
  }
  .workspace .slick-dots li button:before {
    content: "——";
    font-weight: bold;
    width: 65px;
    font-size: 30px;
  }
  .workspace .wrapper {
    padding: 0 35px;
  }
}
@media (min-width: 1024px) {
  .workspace .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .workspace .col-4,
  .workspace .col-5,
  .workspace .col-7,
  .workspace .col-8,
  .workspace .col-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .workspace .workspace-img-full-width {
    height: 542px;
  }
  .workspace .workspace-img {
    height: 308px;
  }
  .workspace .workspace-img-height {
    margin-top: 14px;
    height: 220px;
  }
}
.intro .contact-desc {
  font-size: 14px;
}
.intro .contact-desc h6 {
  margin-bottom: 0;
}
.intro .contact-desc a {
  color: #747474;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.intro .contact-desc a:hover {
  color: #535353;
}
.question-form {
  padding-top: 50px;
}
.question-form .form-control {
  border-radius: 20px;
}
.question-form .btn {
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 14px;
}
.question-form .btn-secondary {
  background-color: #3a3a3a;
  border-color: #3a3a3a;
}
@media (min-width: 768px) {
  .question-form {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .intro .contact-desc {
    margin-top: 50px;
  }
  .company {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.search-bar {
  font-size: 14px;
  text-align: left;
  color: #747474;
}
.search-bar:hover {
  color: #747474;
  text-decoration: underline;
}
.entry {
  margin-bottom: 50px;
}
.entry-desc.row {
  margin-left: -5px;
  margin-right: -5px;
}
.entry-desc .col-2,
.entry-desc .col-10 {
  padding-left: 5px;
  padding-right: 5px;
}
.entry-date {
  padding: 5px;
  text-align: center;
  background-color: #868686;
  color: white;
}
.entry-date .day {
  font-weight: 600;
}
.entry-date p {
  margin: 0;
}
p.day {
  font-size: 16px;
}
p.month {
  font-size: 12px;
}
.entry-inner {
  padding-top: 20px;
}
.entry-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}
.entry-title a {
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.entry-title a:hover {
  color: #868686;
}
.entry-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 2;
  font-style: italic;
  color: #747474;
}
.entry-meta li {
  padding-right: 12px;
}
.entry-meta a {
  color: #747474;
}
.entry-content {
  padding-top: 30px;
  padding-bottom: 10px;
}
.entry-content p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #747474;
}
.read-more-btn {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.read-more-btn:hover {
  color: #868686;
}
.page-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page-control .btn {
  border: 1.5px solid #343a40;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
}
.sidebar {
  padding-top: 50px;
}
.sidebar > div {
  margin-bottom: 30px;
}
.decoration hr {
  margin: 0;
  border: 1.5px solid #535353;
  width: 50%;
}
.sidebar-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #3a3a3a;
}
.sidebar-content {
  padding: 20px 0;
  font-size: 14px;
  line-height: 2;
}
.sidebar-content a {
  color: #535353;
}
.post-desc {
  color: #535353;
}
.popular-post .sidebar-content > div {
  margin-bottom: 10px;
}
.popular-post .row {
  margin-left: -5px;
}
.popular-post .col-2 {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-left: 5px;
  padding-right: 5px;
}
.popular-post .entry-meta-date {
  font-style: italic;
}
.popular-post p {
  margin-top: 0;
  font-size: 13px;
}
.blog-tags .boundary:after {
  content: ",";
  padding: 0;
}
.blog-tags .sidebar-content {
  width: 60%;
}
.decoration {
  display: inline-block;
}
@media (min-width: 768px) {
  .entry-desc.row {
    margin-left: -25px;
    margin-right: -25px;
  }
  .entry-desc .col-2,
  .entry-desc .col-10 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .entry-date {
    padding: 15px 5px;
  }
  .entry-date p.day {
    font-size: 20px;
  }
  .blog-categories {
    float: left;
    display: inline-block;
  }
  .popular-post {
    float: right;
  }
  .blog-tags {
    float: left;
    display: inline-block;
    width: 35%;
  }
}
@media (min-width: 1024px) {
  .blog-list-body.row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .blog-list-body .col-lg-4,
  .blog-list-body .col-lg-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .entry:nth-child(3) {
    margin-bottom: 100px;
  }
  .entry-meta li {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .entry-meta li :hover {
    color: #535353;
  }
  .sidebar {
    padding-top: 0;
    text-align: right;
  }
  .sidebar hr {
    float: right;
  }
  .sidebar-content a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .sidebar-content a:hover {
    font-weight: 500;
    color: #3a3a3a;
  }
  .blog-categories,
  .popular-post,
  .blog-tags {
    float: none;
  }
  .popular-post .col-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .blog-tags {
    width: 50%;
  }
  .blog-tags .sidebar-content {
    width: 100%;
  }
}
.blog-menu {
  position: relative;
  bottom: -30px;
  font-size: 14px;
  line-height: 3;
  background-color: #eee;
}
.blog-menu > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.blog-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-menu a {
  color: #747474;
}
.blog-header-bar span {
  display: none;
}
.single-entry .entry-inner {
  position: relative;
  top: -30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
.single-entry .entry-inner .entry-meta {
  color: #3a3a3a;
}
.single-entry .entry-inner .entry-meta a {
  color: #3a3a3a;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.single-entry .entry-inner .entry-meta a:hover {
  color: #868686;
}
.entry-image {
  position: relative;
}
.entry-image .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3% 4.5%;
}
.entry-image .entry-meta-area {
  position: relative;
}
.entry-image .entry-date {
  display: inline-block;
  padding: 5px 10px;
}
.entry-image .entry-meta {
  position: absolute;
  top: 0;
  right: 0;
  font-style: normal;
}
.entry-content-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}
.entry-content-images li {
  margin-bottom: 10px;
  width: 100%;
}
.entry-content-images img {
  width: 100%;
}
.entry-author {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 80px;
  padding: 20px;
}
.entry-author p {
  color: #747474;
}
.entry-author .social-icons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.entry-author .social-icons a {
  font-size: 16px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.entry-author .social-icons a:hover {
  color: #868686;
}
.author-name {
  text-align: center;
  line-height: 2.5;
}
.comments .section-title {
  margin-bottom: 0;
  line-height: 2;
}
.comments .media {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comments .media-body {
  font-size: 14px;
}
.comments .comment-date {
  font-style: italic;
}
.comments p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #747474;
}
.comments hr {
  margin: 0;
}
.comments a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.comments a:hover {
  color: #868686;
}
.entry-comment-reply {
  padding-left: 30px;
}
.comment-form {
  margin-bottom: 25px;
  padding-top: 100px;
}
.comment-form .btn {
  border-radius: 0;
  border-color: #f8f8f8;
  padding: 10px 15px;
  font-size: 13px;
  background-color: #f8f8f8;
  color: #747474;
}
@media (min-width: 768px) {
  .blog-menu .search-bar {
    padding-right: 8px;
  }
  .blog-header-bar span {
    display: inline;
  }
  .single-entry .entry-inner {
    top: -70px;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .entry-content-images {
    margin-top: 60px;
    margin-left: -10px;
    margin-bottom: 70px;
    max-height: 800px;
  }
  .entry-content-images li {
    margin-left: 10px;
    width: auto;
  }
  .entry-author {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .entry-author .author-avatar {
    margin-right: 25px;
  }
  .entry-author .author-name {
    text-align: left;
    line-height: 2;
  }
  .entry-author .social-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .entry-comment-reply {
    padding-left: calc(65px + 1rem);
  }
}
@media (min-width: 1024px) {
  .blog-menu {
    bottom: -50px;
  }
  .blog-menu a:hover {
    text-decoration: underline;
  }
  .single-entry .entry-inner {
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    top: -92px;
  }
  .single-entry .entry-date {
    padding: 10px 20px;
  }
  .single-entry .entry-date p.day {
    font-size: 30px;
  }
  .single-entry .entry-date p.month {
    font-size: 16px;
  }
  .entry-content-images {
    margin-top: 60px;
    margin-bottom: 70px;
    max-height: 500px;
  }
  .entry-author {
    padding: 40px;
  }
  .comment-form .form-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .comment-form .form-row .col-lg-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
#content .products {
  padding-top: 0;
}
.product-option-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #939393;
  border-bottom: 1px solid #939393;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
}
.product-option-menu a {
  padding: 5px 10px;
  color: #747474;
}
.menu-close {
  padding: 20px;
  text-align: right;
  font-size: 20px;
}
.slide-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 10;
  width: 0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.slide-menu.width {
  width: 90%;
}
.slide-menu .sidebar-title {
  padding: 0 20px;
}
.slide-menu .sidebar-content {
  padding: 0 35px 20px 20px;
}
.slide-right {
  left: 0;
}
.slide-left {
  right: 0;
}
.slide-left .menu-close {
  text-align: left;
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.fade-out {
  opacity: 0;
}
.fade-out.in {
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.products-sidebar {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.filter-content h5 {
  font-size: 14px;
  line-height: 6;
  color: #535353;
}
.filter-content .options {
  padding-bottom: 12px;
  color: #747474;
}
.filter-content .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 1;
}
.filter-content .brand-name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 8px;
}
.filter-content .range-bar {
  border-radius: 5px;
  height: 8px;
  background: #b3b3b3;
}
.filter-content .range {
  position: relative;
  left: 10%;
  border-radius: 5px;
  width: 65%;
  height: 8px;
  background: #535353;
}
.filter-content .pin {
  position: absolute;
  top: -4px;
  border: 3px solid;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: white;
}
.filter-content .start {
  left: 0;
}
.filter-content .end {
  right: 0;
}
.filter-content .price-range {
  display: inline-block;
  line-height: 6;
  color: #535353;
}
.filter-content .btn {
  float: right;
  margin-top: 25px;
}
.product-categories .sidebar-content {
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.product-categories .product-category {
  font-size: 16px;
}
.product-categories .category-qty {
  float: right;
}
.product-categories li {
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.product-categories li:last-child {
  border-bottom: none;
}
.product-categories a {
  color: #747474;
}
.hot-sales {
  padding-top: 50px;
}
.hot-sales .media {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hot-sales h5 {
  font-size: 16px;
  color: #747474;
}
.hot-sales .price {
  line-height: 20px;
}
.products-list img {
  width: 100%;
}
.products-list .product {
  padding-top: 20px;
  padding-bottom: 20px;
}
.display-setting {
  padding: 15px 0;
}
.results {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
  color: #747474;
}
.results span {
  font-weight: 600;
}
.results .boundary:after {
  content: "/";
  padding: 0 5px;
}
.display-chooseing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.display-chooseing ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8px;
}
.display-chooseing a {
  color: #747474;
}
.mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 15px;
}
.mode li {
  margin-right: 5px;
}
.mode a {
  font-size: 14px;
}
.mode .rounded-circle {
  height: 35px;
  width: 35px;
  line-height: 33px;
}
.mode .rounded-circle.btn {
  padding: 0;
}
.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 0;
}
.pagination .page-item {
  padding: 0 3px;
}
.pagination .page-link {
  border: none;
  font-weight: 600;
  color: #747474;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
  .slide-menu.width {
    width: 50%;
  }
  .display-setting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .display-setting .display-chooseing {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .hot-sales .sidebar-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .hot-sales .media {
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  .product-option-menu {
    display: none;
  }
  .products-sidebar {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    padding-top: 34px;
  }
  .products-sidebar .sidebar-title {
    padding: 0;
    opacity: 1;
  }
  .products-sidebar .sidebar-content {
    padding: 0;
    opacity: 1;
  }
  .menu-close {
    display: none;
  }
  .product-filter {
    position: static;
    padding: 30px 20px 8px 20px;
    width: auto;
    background-color: #f4f4f4;
  }
  .product-filter .pin {
    cursor: pointer;
  }
  .product-categories {
    position: static;
    padding-top: 30px;
    width: auto;
  }
  .product-categories .sidebar-content {
    padding-top: 20px;
  }
  .hot-sales {
    padding-top: 30px;
  }
  .hot-sales .sidebar-content {
    padding-top: 20px;
  }
  .hot-sales .media {
    padding-right: 0;
  }
  .products-list .product {
    padding-bottom: 50px;
  }
  .pagination {
    padding-top: 70px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h6 {
  line-height: 4;
  color: #3a3a3a;
}
p {
  margin: 5px 0;
  line-height: 1.2;
  font-size: 14px;
}
a {
  color: #3a3a3a;
}
a:hover {
  text-decoration: none;
}
hr {
  margin: 0;
}
.boundary:after {
  content: "|";
  padding: 0.75em;
}
.h-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #3a3a3a;
}
.dropdown:after {
  font-family: "fontello";
  content: "\f107";
  padding-left: 3px;
}
.icon-shopping-bag:before {
  font-weight: 600;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
:-ms-input-placeholder {
  font-size: 12px;
}
::-ms-input-placeholder {
  font-size: 12px;
}
::placeholder {
  font-size: 12px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
:-ms-input-placeholder {
  font-size: 12px;
}
.mt-19 {
  margin-top: 19px;
}
.show {
  display: block !important;
}
#header {
  padding: 16px 0;
}
.header-top .contact-info {
  display: none;
}
.account {
  text-transform: uppercase;
}
.account li {
  padding: 0.5rem 1rem;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav,
.account {
  display: none;
  position: absolute;
  top: 61px;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10;
  padding: 20px;
  text-align: right;
  font-weight: 600;
  background: white;
}
.nav li,
.account li {
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.nav li:hover,
.account li:hover {
  background-color: #eee;
}
.nav a,
.account a {
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.nav a:hover,
.account a:hover {
  color: #3a3a3a;
  background-color: #eee;
}
.nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 29px;
}
.nav-side a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.nav-side a :hover {
  color: #868686;
}
.cart-sum {
  display: none;
}
.wide-header .contact-info,
.wide-header .icon-heart-empty,
.wide-header .blog-menu-toggle {
  display: none;
}
.wide-header #cart {
  position: relative;
}
.wide-header .qty {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: white;
  background: black;
}
#breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 3;
  color: #747474;
}
#breadcrumbs .boundary:after {
  font-family: "fontello";
  content: "\f105";
}
#breadcrumbs a {
  color: #747474;
}
#breadcrumbs a:hover {
  color: #747474;
  text-decoration: underline;
}
#content .header.gray-bg,
#content .header.img-bg {
  padding: 30px 0;
}
.blog-dropdown-toggle {
  position: relative;
}
.blog-dropdown-menu a {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.blog-dropdown-menu li:hover {
  background-color: #eee;
}
.blog-dropdown-menu li:hover a {
  color: #3a3a3a;
}
#content > div {
  padding-top: 50px;
}
#content > div:first-child {
  padding-top: 0;
}
#content > div:last-child {
  padding-bottom: 80px;
}
.gray-bg {
  background-color: #f6f6f6;
}
.img-bg {
  background-image: url(../images/contact-header.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.section-title {
  margin-bottom: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.banner {
  position: relative;
  margin-top: 10px;
}
.banner-img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}
.banner-title {
  letter-spacing: 1px;
}
.banner-title h2 {
  line-height: 1;
  font-size: 35px;
  font-weight: 800;
}
.banner-title h2:nth-child(2) {
  font-weight: 200;
}
h3.banner-title {
  font-size: 22px;
  text-transform: uppercase;
}
.banner-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 8% 10%;
  color: #535353;
}
.long-ver {
  padding: 5% 15%;
}
.text-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.tag {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.price {
  font-size: 20px;
  font-weight: 600;
}
.price-label {
  position: absolute;
  top: 50%;
  right: 0;
  padding-top: 25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  background: #62c5de;
}
.discount {
  text-decoration: line-through;
  opacity: 0.7;
}
.go-shop {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.detail-btn {
  display: inline-block;
  margin-left: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 20px;
}
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #c8a760;
}
.top {
  position: absolute;
}
.down {
  position: absolute;
  bottom: 0;
}
.placeholder {
  line-height: 13px;
  opacity: 0;
}
.thumbnail {
  position: relative;
}
.discount-label {
  position: absolute;
  top: 12%;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: bold;
  background-color: #b2cc29;
  color: white;
}
.new-label {
  position: absolute;
  top: 12%;
  padding: 3px 6px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.full-padding {
  padding: 20px 40px;
}
.desc {
  margin-left: 15px;
}
.collection-banner .text-area {
  width: 80%;
}
.sofa-banner {
  height: 450px;
}
.sofa-banner .tag {
  text-align: center;
}
.sofa-banner .banner-title {
  font-size: 24px;
  font-weight: 600;
}
.sofa-banner .discount {
  line-height: 12px;
}
.sofa-banner .price span {
  font-size: 16px;
}
.bean-banner .banner-text,
.blue-chair-banner .banner-text {
  padding: 10% 10%;
}
.bean-banner .banner-title,
.blue-chair-banner .banner-title {
  letter-spacing: 2px;
  font-weight: bold;
}
.bean-banner .price,
.blue-chair-banner .price {
  font-size: 28px;
  line-height: 2.5;
}
.bean-banner .banner-title {
  text-align: right;
  color: #939393;
}
.bean-banner .stars {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.bean-banner .price {
  color: #991015;
}
.bean-banner .go-shop {
  padding: 5px 10px;
  color: white;
  background-color: black;
}
.bean-banner .top,
.bean-banner .down {
  right: 0;
}
.blue-chair-banner .banner-title,
.blue-chair-banner .price,
.blue-chair-banner .discount,
.blue-chair-banner a {
  color: #2c3e66;
}
.blue-chair-banner .price {
  margin-bottom: 10px;
  line-height: 1.5;
}
.dining-chair-banner .tag,
.floor-lamp-banner .tag {
  text-align: right;
}
.dining-chair-banner .top,
.floor-lamp-banner .top,
.dining-chair-banner .down,
.floor-lamp-banner .down {
  right: 0;
}
.floor-lamp-banner .tag {
  color: #939393;
}
.floor-lamp-banner .go-shop {
  color: #939393;
}
.stool-banner {
  height: 400px;
}
.stool-banner .banner-img {
  -o-object-position: 90%;
  object-position: 90%;
}
.stool-banner h2:first-child {
  font-weight: 600;
}
.stool-banner p {
  width: 70%;
}
.features .control-bar {
  display: none;
}
.features img {
  width: 100%;
}
.features .tag {
  line-height: 2;
  letter-spacing: 2px;
}
.features .banner-title span {
  font-size: 18px;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #939393;
}
.tabs a {
  color: #939393;
}
.tabs .active a {
  color: #3a3a3a;
}
.feature {
  margin-top: 15px;
}
.product-name {
  font-size: 16px;
  line-height: 2;
  color: #747474;
}
.special-item {
  position: relative;
}
.special-item .banner-title {
  color: #535353;
}
.special-item .product-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8% 10%;
}
.special-item .tag {
  color: #939393;
}
.special-item .go-shop {
  position: absolute;
  bottom: 0;
  color: #939393;
}
.best-seller img {
  width: 100%;
}
.best-seller .stars {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.best-item:nth-child(4) .new-label {
  top: calc(12% + 27px);
}
.marked-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 5;
  opacity: 0;
}
.marked-menu:hover {
  opacity: 1;
}
.marked-menu li {
  border: 1px solid #ccc;
  margin-left: -1px;
  padding: 15px 12px;
}
.marked-menu li:first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.marked-menu li:hover {
  background-color: #f5f5f5;
}
.marked-menu a {
  color: #939393;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.marked-menu a:hover {
  text-decoration: none;
  color: #939393;
}
.subtitle {
  margin-left: 3px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #939393;
}
.slide-bar {
  display: none;
}
.brands img {
  margin: 0 auto;
  width: 60%;
}
.brand-logo {
  padding: 5px 15px;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-top hr {
  margin: 50px 0;
}
.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
.pros h5 {
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.pros i {
  font-size: 40px;
  line-height: 40px;
  color: #747474;
}
.pros p {
  color: #535353;
}
.info {
  color: #939393;
}
.info p {
  margin: 14px 0;
}
.info li {
  line-height: 2.5;
}
.info a {
  font-size: 14px;
  color: #939393;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.info a:hover {
  color: #535353;
}
.info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 3;
}
.subscribe-bar ::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar :-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar ::-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar ::placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar ::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar :-ms-input-placeholder {
  font-size: 14px;
  font-weight: bold;
}
.subscribe-bar input {
  border: none;
  padding: 10px 18px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 60%;
}
.subscribe-bar .button {
  position: relative;
  left: -3px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #535353;
}
.bordered-ver {
  position: relative;
}
.bordered-ver input {
  border: 1px solid #747474;
  border-radius: 30px;
  width: 100%;
}
.bordered-ver .button {
  position: absolute;
  left: 83%;
  background: transparent;
  color: #747474;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons a {
  font-size: 20px;
}
.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
}
.copyright {
  font-size: 14px;
}
.copyright span {
  font-weight: bold;
}
.payment-methods {
  display: inline-block;
}
.simple-footer .logo {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.simple-footer .info-box:last-child {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.simple-footer .copyright {
  color: #535353;
}
.simple-footer .desc {
  margin-top: 45px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .header .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .header .col-md-3,
  .header .col-md-4,
  .header .col-md-6,
  .header .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .banner-text {
    padding: 5% 8%;
  }
  .long-ver {
    padding: 8% 5%;
  }
  .best-seller .section-title,
  .brands .section-title {
    margin-bottom: 0;
  }
  .full-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .collection-banner,
  .sofa-banner {
    height: 340px;
  }
  .sofa-banner .banner-title {
    font-size: 17px;
  }
  .bean-banner .banner-text,
  .blue-chair-banner .banner-text {
    padding: 10% 5%;
  }
  .bean-banner .banner-title,
  .blue-chair-banner .banner-title {
    font-size: 14px;
  }
  .bean-banner .price,
  .blue-chair-banner .price {
    font-size: 20px;
  }
  .bean-banner {
    height: 166px;
  }
  .bean-banner .price {
    text-align: right;
  }
  .blue-chair-banner {
    height: 162px;
  }
  .blue-chair-banner .price {
    line-height: 1;
    margin-bottom: 0;
  }
  .dining-chair-banner .banner-title,
  .floor-lamp-banner .banner-title {
    font-size: 16px;
  }
  .dining-chair-banner {
    height: 125px;
  }
  .dining-chair-banner .banner-img {
    -o-object-position: 20%;
    object-position: 20%;
  }
  .floor-lamp-banner {
    height: 200px;
  }
  .floor-lamp-banner.banner {
    margin-top: 15px;
  }
  .floor-lamp-banner .banner-img {
    -o-object-position: bottom;
    object-position: bottom;
  }
  .stool-banner {
    height: 340px;
  }
  .features .row:nth-child(3) {
    margin: 0;
    margin-top: 30px;
  }
  .features .row:nth-child(3) .col-md-6 {
    padding: 0;
  }
  .best-seller .new-label,
  .best-seller .discount-label {
    font-size: 12px;
  }
  .best-item:nth-child(4) .new-label {
    top: calc(12% + 24px);
  }
  .marked-menu {
    font-size: 12px;
  }
  .brands img {
    width: 100%;
  }
  .brands .row {
    margin-left: -25px;
    margin-right: -25px;
  }
  .brands .brand-logo {
    padding-left: 25px;
    padding-right: 25px;
  }
  .info {
    text-align: center;
  }
  .info .logo {
    display: inline-block;
  }
  .info .address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social-icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  #header {
    padding: 0;
  }
  #header a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  #header a:hover {
    color: #7d7d7d;
  }
  .dark-bg {
    background-color: #282828;
  }
  .menu-toggle,
  .user-toggle {
    display: none;
  }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header-top .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  .header-top .contact-info li {
    padding: 0.75rem 1rem;
  }
  .header-top .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    padding: 0;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
    background: transparent;
  }
  .header-top .account li {
    padding: 0.75rem 1.5rem;
  }
  .header-top .account a:hover {
    background-color: transparent;
  }
  .header-top li {
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  .header-top li:hover {
    background-color: #3f3e43;
  }
  .header-top a {
    color: #747474;
  }
  .header-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    padding: 0;
    font-size: 15px;
    line-height: 29px;
    font-weight: 500;
    color: #535353;
  }
  .nav a:hover {
    background-color: transparent;
  }
  .nav-link {
    padding: 0 20px;
  }
  .nav-side li {
    padding-left: 20px;
  }
  #cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-sum {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
  .cart-sum div {
    font-weight: 600;
  }
  .blog-dropdown-menu {
    position: absolute;
    display: none;
    border: 1px solid #eee;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
    text-align: left;
    width: 300px;
  }
  .wide-header .logo {
    float: left;
  }
  .wide-header .contact-info {
    display: block;
    float: left;
    padding: 12px 0 0 20px;
    font-size: 12px;
    font-weight: bold;
  }
  .wide-header .icon-heart-empty {
    display: inline-block;
  }
  .wide-header .blog-menu-toggle {
    display: block;
    font-size: 12px;
  }
  .wide-header .blog-menu-toggle a {
    border: 2px solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .subscribe-bar .button {
    padding: 10px 9px;
  }
  #content > div {
    padding-top: 100px;
  }
  #content .features {
    padding-top: 50px;
  }
  #content .header.gray-bg,
  #content .header.img-bg {
    padding: 50px 0;
  }
  h6 {
    margin-bottom: 24px;
    line-height: 29px;
  }
  p {
    margin: 10px 0;
  }
  .full-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .placeholder {
    line-height: 19px;
  }
  .banner-text {
    padding: 12% 10%;
  }
  .banner-title h2 {
    font-size: 54px;
  }
  .tag {
    font-size: 15px;
    letter-spacing: 2px;
  }
  a.go-shop:hover {
    text-decoration: underline;
  }
  .thumbnail {
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  }
  .thumbnail:hover {
    -webkit-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
    box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  }
  .header .price {
    font-size: 30px;
  }
  .collection-banner {
    height: 563px;
  }
  .collection-banner .text-area {
    width: 75%;
  }
  .sofa-banner {
    height: 563px;
  }
  .sofa-banner .banner-title {
    font-size: 25px;
  }
  .sofa-banner .price-label {
    padding-top: 30px;
    width: 130px;
    height: 130px;
  }
  .sofa-banner .tag {
    margin-bottom: 15px;
    text-align: left;
  }
  .bean-banner .banner-text,
  .blue-chair-banner .banner-text {
    padding: 10% 8%;
  }
  .bean-banner .banner-title,
  .blue-chair-banner .banner-title {
    font-size: 18px;
    line-height: 1.5;
  }
  .bean-banner .price,
  .blue-chair-banner .price {
    font-size: 26px;
  }
  .bean-banner {
    height: 275px;
  }
  .blue-chair-banner {
    height: 269px;
  }
  .blue-chair-banner.banner {
    margin-top: 19px;
  }
  .blue-chair-banner .price {
    line-height: 1.5;
  }
  .dining-chair-banner .banner-text,
  .floor-lamp-banner .banner-text {
    padding: 7%;
  }
  .dining-chair-banner .banner-title,
  .floor-lamp-banner .banner-title {
    font-size: 28px;
  }
  .dining-chair-banner {
    height: 200px;
  }
  .floor-lamp-banner {
    height: 310px;
  }
  .floor-lamp-banner.banner {
    margin-top: 20px;
  }
  .stool-banner {
    height: 530px;
  }
  .stool-banner .banner-img {
    -o-object-position: 70%;
    object-position: 70%;
  }
  .stool-banner .banner-text {
    padding: 6%;
  }
  .features .row:nth-child(3) {
    margin-top: 70px;
  }
  .features .tag {
    font-size: 12px;
  }
  .feature-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .feature-menu .control-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 35px;
    padding: 5px;
    font-size: 14px;
    background: #eee;
  }
  .feature-menu .control-bar li {
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background: white;
  }
  .feature-menu .control-bar li:first-child {
    margin-right: 2px;
  }
  .feature-menu .control-bar a {
    color: #bbb;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .feature-menu .control-bar a:hover {
    color: #5e5e5e;
  }
  .tabs {
    line-height: 30px;
  }
  .tabs a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .tabs a:hover {
    color: #3a3a3a;
  }
  .feature {
    margin-top: 0;
  }
  .best-seller .desc {
    margin-top: 14px;
  }
  .best-seller .product-name {
    font-size: 14px;
  }
  .best-seller .price {
    font-size: 18px;
  }
  .brand-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    -o-transition: filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
  }
  .brand-logo:hover {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }
  .footer-top {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-top hr {
    margin: 70px 0;
  }
  .footer-top .subscribe,
  .footer-top .social-media {
    text-align: right;
  }
  .footer-top .social-icons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-top .social-icons li {
    margin-right: 0;
    margin-left: 10px;
  }
  .rwo.advantage {
    margin: 0;
  }
  .pros {
    padding: 0;
  }
  .info {
    text-align: left;
  }
  .info.row {
    margin: 0;
  }
  .info .col-lg {
    padding: 0;
  }
  .info .col-lg-2:nth-child(2) {
    padding-left: 45px;
  }
  .info .address {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .subscribe {
    margin-bottom: 65px;
  }
  .copyright {
    float: left;
  }
  .payment-methods {
    float: right;
  }
  .simple-footer .info-box:last-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: right;
  }
  .simple-footer .address {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .simple-footer .copyright,
  .simple-footer .payment-methods {
    float: none;
  }
}
