.intro .social-media {
  margin-top: 30px;
}
.intro .social-media h6 {
  line-height: 2;
}
.intro p {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #747474;
}
.intro .social-icons a {
  font-size: 14px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.intro .social-icons a:hover {
  color: #747474;
}
.explanation span {
  font-size: 16px;
  font-weight: 600;
}
.member img {
  width: 100%;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cover:hover {
  opacity: 1;
}
.cover .social-icons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.cover li {
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  background-color: #535353;
  width: 35px;
  height: 35px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cover li:hover {
  background-color: white;
}
.cover a {
  color: white;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.cover a:hover {
  color: #535353;
}
.person {
  margin: 15px 0 35px 0;
  border-left: 8px solid #eee;
}
.person .name {
  margin-left: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3a3a3a;
}
.person .p-title {
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #939393;
}
.wanted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
}
.wanted .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #939393;
}
@media (min-width: 768px) {
  .intro .social-media {
    text-align: left;
  }
  .intro .social-media h6 {
    margin-bottom: 0;
  }
  .intro .social-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.intro .contact-desc {
  font-size: 14px;
}
.intro .contact-desc h6 {
  margin-bottom: 0;
}
.intro .contact-desc a {
  color: #747474;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.intro .contact-desc a:hover {
  color: #535353;
}
.question-form {
  padding-top: 50px;
}
.question-form .form-control {
  border-radius: 20px;
}
.question-form ::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form :-ms-input-placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form ::-ms-input-placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form ::placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form ::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form :-ms-input-placeholder {
  font-size: 12px;
  font-weight: normal;
}
.question-form .btn {
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 14px;
}
.question-form .btn-secondary {
  background-color: #3a3a3a;
  border-color: #3a3a3a;
}
@media (min-width: 768px) {
  .question-form {
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .intro .contact-desc {
    margin-top: 50px;
  }
  .company {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h6 {
  line-height: 4;
  color: #3a3a3a;
}
p {
  margin: 5px 0;
  line-height: 1.2;
  font-size: 14px;
}
a {
  color: #3a3a3a;
}
a:hover {
  text-decoration: none;
}
hr {
  margin: 50px 0;
}
.boundary:after {
  content: "|";
  padding: 0.75em;
}
.h-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3a3a3a;
}
.dropdown:after {
  font-family: "fontello";
  content: "\f107";
  padding-left: 3px;
}
.icon-shopping-bag:before {
  font-weight: 600;
}
#header {
  padding: 16px 0;
}
.header-top .contact-info {
  display: none;
}
.account {
  text-transform: uppercase;
}
.account li {
  padding: 0.5rem 1rem;
}
.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav,
.account {
  display: none;
  position: absolute;
  top: 61px;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 10;
  padding: 20px;
  text-align: right;
  font-weight: 600;
  background: white;
}
.nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 29px;
}
.cart-sum {
  display: none;
}
.wide-header .contact-info,
.wide-header .icon-heart-empty {
  display: none;
}
.wide-header #cart {
  position: relative;
}
.wide-header .qty {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  color: white;
  background: black;
}
#breadcrumbs {
  display: none;
}
#content .header.gray-bg,
#content .header.img-bg {
  padding: 30px 0;
  text-align: center;
}
#content > div {
  padding-top: 50px;
}
#content > div:first-child {
  padding-top: 0;
}
#content > div:last-child {
  padding-bottom: 50px;
}
.gray-bg {
  background-color: #f6f6f6;
}
.img-bg {
  background-image: url(../images/contact-header.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.section-title {
  margin-bottom: 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.banner {
  position: relative;
  margin-top: 10px;
}
.banner-img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
}
.banner-title {
  letter-spacing: 1px;
}
.banner-title h2 {
  line-height: 1;
  font-size: 35px;
  font-weight: 800;
}
.banner-title h2:nth-child(2) {
  font-weight: 200;
}
h3.banner-title {
  font-size: 22px;
  text-transform: uppercase;
}
.banner-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding: 8% 10%;
  color: #535353;
}
.long-ver {
  padding: 5% 15%;
}
.text-area {
  position: relative;
  width: 100%;
  height: 100%;
}
.tag {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}
.price {
  font-size: 20px;
  font-weight: 600;
}
.price-label {
  position: absolute;
  top: 50%;
  right: 0;
  padding-top: 25px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  background: #62c5de;
}
.discount {
  text-decoration: line-through;
  opacity: 0.7;
}
.go-shop {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.detail-btn {
  display: inline-block;
  margin-left: 0.5rem;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 20px;
}
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  color: #c8a760;
}
.top {
  position: absolute;
}
.down {
  position: absolute;
  bottom: 0;
}
.placeholder {
  line-height: 13px;
  opacity: 0;
}
.thumbnail {
  position: relative;
}
.discount-label {
  position: absolute;
  top: 12%;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: bold;
  background-color: #b2cc29;
  color: white;
}
.new-label {
  position: absolute;
  top: 12%;
  padding: 3px 6px;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.full-padding {
  padding: 20px 40px;
}
.desc {
  margin-left: 15px;
}
::-webkit-input-placeholder {
  font-weight: bold;
}
:-ms-input-placeholder {
  font-weight: bold;
}
::-ms-input-placeholder {
  font-weight: bold;
}
::placeholder {
  font-weight: bold;
}
::-webkit-input-placeholder {
  font-weight: bold;
}
:-ms-input-placeholder {
  font-weight: bold;
}
.collection-banner .text-area {
  width: 80%;
}
.sofa-banner {
  height: 450px;
}
.sofa-banner .tag {
  text-align: center;
}
.sofa-banner .banner-title {
  font-size: 24px;
  font-weight: 600;
}
.sofa-banner .discount {
  line-height: 12px;
}
.sofa-banner .price span {
  font-size: 16px;
}
.bean-banner .banner-text,
.blue-chair-banner .banner-text {
  padding: 10% 10%;
}
.bean-banner .banner-title,
.blue-chair-banner .banner-title {
  letter-spacing: 2px;
  font-weight: bold;
}
.bean-banner .price,
.blue-chair-banner .price {
  font-size: 28px;
  line-height: 2.5;
}
.bean-banner .banner-title {
  text-align: right;
  color: #939393;
}
.bean-banner .stars {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.bean-banner .price {
  color: #991015;
}
.bean-banner .go-shop {
  padding: 5px 10px;
  color: white;
  background-color: black;
}
.bean-banner .top,
.bean-banner .down {
  right: 0;
}
.blue-chair-banner .banner-title,
.blue-chair-banner .price,
.blue-chair-banner .discount,
.blue-chair-banner a {
  color: #2c3e66;
}
.blue-chair-banner .price {
  margin-bottom: 10px;
  line-height: 1.5;
}
.dining-chair-banner .tag,
.floor-lamp-banner .tag {
  text-align: right;
}
.dining-chair-banner .top,
.floor-lamp-banner .top,
.dining-chair-banner .down,
.floor-lamp-banner .down {
  right: 0;
}
.floor-lamp-banner .tag {
  color: #939393;
}
.floor-lamp-banner .go-shop {
  color: #939393;
}
.stool-banner {
  height: 400px;
}
.stool-banner .banner-img {
  -o-object-position: 90%;
  object-position: 90%;
}
.stool-banner h2:first-child {
  font-weight: 600;
}
.stool-banner p {
  width: 70%;
}
.features .control-bar {
  display: none;
}
.features img {
  width: 100%;
}
.features .tag {
  line-height: 2;
  letter-spacing: 2px;
}
.features .banner-title span {
  font-size: 18px;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #939393;
}
.tabs a {
  color: #939393;
}
.tabs .active a {
  color: #3a3a3a;
}
.feature {
  margin-top: 15px;
}
.product-name {
  font-size: 16px;
  line-height: 2;
  color: #747474;
}
.special-item {
  position: relative;
}
.special-item .banner-title {
  color: #535353;
}
.special-item .product-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8% 10%;
}
.special-item .tag {
  color: #939393;
}
.special-item .go-shop {
  position: absolute;
  bottom: 0;
  color: #939393;
}
.best-seller img {
  width: 100%;
}
.best-seller .stars {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.best-item:nth-child(4) .new-label {
  top: calc(12% + 27px);
}
.marked-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 5;
  opacity: 0;
}
.marked-menu:hover {
  opacity: 1;
}
.marked-menu li {
  border: 1px solid #ccc;
  margin-left: -1px;
  padding: 15px 12px;
}
.marked-menu li:first-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.marked-menu li:hover {
  background-color: #f5f5f5;
}
.marked-menu a {
  color: #939393;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.marked-menu a:hover {
  text-decoration: none;
  color: #939393;
}
.subtitle {
  margin-left: 3px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #939393;
}
.slide-bar {
  display: none;
}
.brands img {
  margin: 0 auto;
  width: 60%;
}
.brand-logo {
  padding: 5px 15px;
}
.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
.pros h5 {
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  color: #3a3a3a;
}
.pros i {
  font-size: 40px;
  line-height: 40px;
  color: #747474;
}
.pros p {
  color: #535353;
}
.info {
  color: #939393;
}
.info p {
  margin: 14px 0;
}
.info li {
  line-height: 2.5;
}
.info a {
  font-size: 14px;
  color: #939393;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.info a:hover {
  color: #535353;
}
.info .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 3;
}
.search-bar ::-webkit-input-placeholder {
  font-size: 14px;
}
.search-bar :-ms-input-placeholder {
  font-size: 14px;
}
.search-bar ::-ms-input-placeholder {
  font-size: 14px;
}
.search-bar ::placeholder {
  font-size: 14px;
}
.search-bar ::-webkit-input-placeholder {
  font-size: 14px;
}
.search-bar :-ms-input-placeholder {
  font-size: 14px;
}
.search-bar input {
  border: none;
  padding: 10px 18px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 60%;
}
.search-bar .button {
  position: relative;
  left: -3px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 18px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #535353;
}
.bordered-ver {
  position: relative;
}
.bordered-ver input {
  border: 1px solid #747474;
  border-radius: 30px;
  width: 100%;
}
.bordered-ver .button {
  position: absolute;
  left: 83%;
  background: transparent;
  color: #747474;
}
.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons a {
  font-size: 20px;
}
.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
}
.copyright {
  font-size: 14px;
}
.copyright span {
  font-weight: bold;
}
.payment-methods {
  display: inline-block;
}
.simple-footer .logo {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}
.simple-footer .info-box:last-child {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
.simple-footer .copyright {
  color: #535353;
}
.simple-footer .desc {
  margin-top: 45px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 3;
    color: #747474;
  }
  #breadcrumbs .boundary:after {
    font-family: "fontello";
    content: "\f105";
  }
  #breadcrumbs a {
    color: #747474;
  }
  #breadcrumbs a:hover {
    color: #747474;
    text-decoration: underline;
  }
  .header .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .header .col-md-3,
  .header .col-md-4,
  .header .col-md-6,
  .header .col-md-8 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .banner-text {
    padding: 5% 8%;
  }
  .long-ver {
    padding: 8% 5%;
  }
  .best-seller .section-title,
  .brands .section-title {
    margin-bottom: 0;
  }
  .full-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .collection-banner,
  .sofa-banner {
    height: 340px;
  }
  .sofa-banner .banner-title {
    font-size: 17px;
  }
  .bean-banner .banner-text,
  .blue-chair-banner .banner-text {
    padding: 10% 5%;
  }
  .bean-banner .banner-title,
  .blue-chair-banner .banner-title {
    font-size: 14px;
  }
  .bean-banner .price,
  .blue-chair-banner .price {
    font-size: 20px;
  }
  .bean-banner {
    height: 166px;
  }
  .bean-banner .price {
    text-align: right;
  }
  .blue-chair-banner {
    height: 162px;
  }
  .blue-chair-banner .price {
    line-height: 1;
    margin-bottom: 0;
  }
  .dining-chair-banner .banner-title,
  .floor-lamp-banner .banner-title {
    font-size: 16px;
  }
  .dining-chair-banner {
    height: 125px;
  }
  .dining-chair-banner .banner-img {
    -o-object-position: top;
    object-position: top;
  }
  .floor-lamp-banner {
    height: 200px;
  }
  .floor-lamp-banner.banner {
    margin-top: 15px;
  }
  .floor-lamp-banner .banner-img {
    -o-object-position: bottom;
    object-position: bottom;
  }
  .stool-banner {
    height: 340px;
  }
  .features .row:nth-child(3) {
    margin: 0;
    margin-top: 30px;
  }
  .features .row:nth-child(3) .col-md-6 {
    padding: 0;
  }
  .best-seller .new-label,
  .best-seller .discount-label {
    font-size: 12px;
  }
  .best-item:nth-child(4) .new-label {
    top: calc(12% + 24px);
  }
  .marked-menu {
    font-size: 12px;
  }
  .brands img {
    width: 100%;
  }
  .brands .row {
    margin-left: -25px;
    margin-right: -25px;
  }
  .brands .brand-logo {
    padding-left: 25px;
    padding-right: 25px;
  }
  .info {
    text-align: center;
  }
  .info .logo {
    display: inline-block;
  }
  .info .address {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .social-icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  #header {
    padding: 0;
  }
  #header a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  #header a:hover {
    color: #7d7d7d;
  }
  .dark-bg {
    background-color: #282828;
  }
  .menu-toggle,
  .user-toggle {
    display: none;
  }
  .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .header-top .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  .header-top .contact-info li {
    padding: 0.75rem 1rem;
  }
  .header-top .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    padding: 0;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
    background: transparent;
  }
  .header-top .account li {
    padding: 0.75rem 1.5rem;
  }
  .header-top li {
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }
  .header-top li:hover {
    background-color: #3f3e43;
  }
  .header-top a {
    color: #747474;
  }
  .header-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: static;
    padding: 0;
    font-size: 15px;
    line-height: 29px;
    font-weight: 500;
    color: #535353;
  }
  .nav-link {
    padding: 0 20px;
  }
  .nav-side li {
    padding-left: 20px;
  }
  #cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-sum {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
  .cart-sum div {
    font-weight: 600;
  }
  .wide-header .logo {
    float: left;
  }
  .wide-header .contact-info {
    display: block;
    float: left;
    padding: 12px 0 0 20px;
    font-size: 12px;
    font-weight: bold;
  }
  .wide-header .icon-heart-empty {
    display: inline-block;
  }
  #content > div {
    padding-top: 100px;
  }
  #content .features {
    padding-top: 50px;
  }
  #content .header.gray-bg,
  #content .header.img-bg {
    padding: 50px 0;
  }
  h6 {
    margin-bottom: 24px;
    line-height: 29px;
  }
  p {
    margin: 10px 0;
  }
  hr {
    margin: 70px 0;
  }
  .full-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .placeholder {
    line-height: 19px;
  }
  .banner-text {
    padding: 12% 10%;
  }
  .banner-title h2 {
    font-size: 54px;
  }
  .tag {
    font-size: 15px;
    letter-spacing: 2px;
  }
  a.go-shop:hover {
    text-decoration: underline;
  }
  .thumbnail {
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  }
  .thumbnail:hover {
    -webkit-box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
    box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  }
  .header .price {
    font-size: 30px;
  }
  .collection-banner {
    height: 563px;
  }
  .collection-banner .text-area {
    width: 75%;
  }
  .sofa-banner {
    height: 563px;
  }
  .sofa-banner .banner-title {
    font-size: 25px;
  }
  .sofa-banner .price-label {
    padding-top: 30px;
    width: 130px;
    height: 130px;
  }
  .sofa-banner .tag {
    margin-bottom: 15px;
    text-align: left;
  }
  .bean-banner .banner-text,
  .blue-chair-banner .banner-text {
    padding: 10% 8%;
  }
  .bean-banner .banner-title,
  .blue-chair-banner .banner-title {
    font-size: 18px;
    line-height: 1.5;
  }
  .bean-banner .price,
  .blue-chair-banner .price {
    font-size: 26px;
  }
  .bean-banner {
    height: 275px;
  }
  .blue-chair-banner {
    height: 269px;
  }
  .blue-chair-banner.banner {
    margin-top: 19px;
  }
  .blue-chair-banner .price {
    line-height: 1.5;
  }
  .dining-chair-banner .banner-text,
  .floor-lamp-banner .banner-text {
    padding: 7%;
  }
  .dining-chair-banner .banner-title,
  .floor-lamp-banner .banner-title {
    font-size: 28px;
  }
  .dining-chair-banner {
    height: 200px;
  }
  .floor-lamp-banner {
    height: 310px;
  }
  .floor-lamp-banner.banner {
    margin-top: 20px;
  }
  .stool-banner {
    height: 530px;
  }
  .stool-banner .banner-img {
    -o-object-position: 70%;
    object-position: 70%;
  }
  .stool-banner .banner-text {
    padding: 6%;
  }
  .features .row:nth-child(3) {
    margin-top: 70px;
  }
  .features .tag {
    font-size: 12px;
  }
  .feature-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .feature-menu .control-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 35px;
    padding: 5px;
    font-size: 14px;
    background: #eee;
  }
  .feature-menu .control-bar li {
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    width: 25px;
    height: 25px;
    background: white;
  }
  .feature-menu .control-bar li:first-child {
    margin-right: 2px;
  }
  .feature-menu .control-bar a {
    color: #bbb;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .feature-menu .control-bar a:hover {
    color: #5e5e5e;
  }
  .tabs {
    line-height: 30px;
  }
  .tabs a {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }
  .tabs a:hover {
    color: #3a3a3a;
  }
  .feature {
    margin-top: 0;
  }
  .best-seller .desc {
    margin-top: 14px;
  }
  .best-seller .product-name {
    font-size: 14px;
  }
  .best-seller .price {
    font-size: 18px;
  }
  .brand-logo {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: -webkit-filter 0.4s;
    transition: -webkit-filter 0.4s;
    -o-transition: filter 0.4s;
    transition: filter 0.4s;
    transition: filter 0.4s, -webkit-filter 0.4s;
  }
  .brand-logo:hover {
    -webkit-filter: opacity(0.5);
    filter: opacity(0.5);
  }
  .footer-top {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-top .subscribe,
  .footer-top .social-media {
    text-align: right;
  }
  .footer-top .social-icons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .footer-top .social-icons li {
    margin-right: 0;
    margin-left: 10px;
  }
  .rwo.advantage {
    margin: 0;
  }
  .pros {
    padding: 0;
  }
  .info {
    text-align: left;
  }
  .info.row {
    margin: 0;
  }
  .info .col-lg {
    padding: 0;
  }
  .info .col-lg-2:nth-child(2) {
    padding-left: 45px;
  }
  .info .address {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .subscribe {
    margin-bottom: 65px;
  }
  .copyright {
    float: left;
  }
  .payment-methods {
    float: right;
  }
  .simple-footer .info-box:last-child {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    text-align: right;
  }
  .simple-footer .address {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .simple-footer .copyright,
  .simple-footer .payment-methods {
    float: none;
  }
}
