@import "basic.less";
@import "about.less";
@import "contact.less";
@import "blog-list-sidebar.less";
@import "blog-detail.less";
@import "product-list.less";
@import "product-detail.less";
@import "shopping-cart.less";
@import "order-checkout.less";
@import "error-page.less";


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

body {
	-webkit-font-smoothing: antialiased;	
	-moz-font-smoothing: antialiased;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

img {
	display: block;
}

h2, h3, h4, h5, h6 {
	margin: 0;
}


h6 {
	line-height: 4;
	color: @heavy-gray-title;
}


p {
	margin: 5px 0;
   	line-height: 1.2;
   	font-size: 14px;
}

a {
	color: @heavy-gray-title;

	&:hover {
		text-decoration: none;
	}
}

hr {
	margin: 0;
}

.boundary:after {
	content: "|";
	padding: .75em;
}

.h-title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: @heavy-gray-title;
}

.dropdown:after {
	font-family: "fontello";
	content: "\f107";
	padding-left: 3px;
}


.icon-shopping-bag:before {
	font-weight: 600;
}

::placeholder  {
		font-size: 12px;
  		
}

::-webkit-input-placeholder {
		font-size: 12px;
		
}

:-ms-input-placeholder {
		font-size: 12px;
		
}

.mt-19 {
	margin-top: 19px;
}


.show {
	display: block !important;
}

.hide {
	display: none !important;
}

.scroll-lock {
	overflow: hidden;
}


// mobile



// header


#header {
	padding: 16px 0;
}

.header-top {

	.contact-info {
		display: none;
	}

}

.account {
	display: none;
	text-transform: uppercase; 

	li {
		padding: .5rem 1rem;
	}
}

.header-bottom {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.nav, .user-login {
	display: none;
	position: absolute;
	top: 45px;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 10;
    padding: 20px;
    text-align: right;
    font-weight: 600;
    background: white;

    li {
		transition: background-color .4s;
    	&:hover {
    		background-color: #eee;
    	}
    }

    a { 
    	transition: background-color .4s;
    	&:hover {
    		color: @heavy-gray-title;
    		background-color: #eee;
    	}
    }
}

.user-login {
	font-size: 1rem;

	li {
		padding: .5rem 1rem;
	}
}


.nav-side {
	display: flex;
	font-size: 20px;
	line-height: 29px;

	a {
		transition: color .3s;

		:hover {
			color: @md-gray;
		}
	}
}

.cart-sum {
	display: none;
}

.wide-header {
	position: relative;

	.contact-info, .icon-heart-empty, .blog-menu-toggle {
		display: none;
	}

	.nav {
		top: 45px;
	}

	.qty {	
	    position: absolute;
	    bottom: 0;
	    right: 12px;
	    border: 1px solid white;
	    border-radius: 50%; 
	    width: 16px;
	    height: 16px;
	    font-size: 12px;
	    text-align: center;
	    line-height: 16px;
	    color: white;
	    background: black;
	}

	.cart-panel {
		top: 45px;
	}

	.triangle {
		right: 20px;
	}

}

// shopping cart page header

#header.full-height {
	.header-top {
		a {
			transition: color .3s;
			&:hover {
				color: @heavy-gray-title;
			}
		}
	}
}

.full-height {

	#breadcrumbs {
		justify-content: flex-start;
	}

	.login {
		display: flex;
		justify-content: flex-end;
		padding-bottom: 10px;
		font-size: 12px;
	}

	.nav {
		top: 39px;
	}

	.search-panel {
		top: 93px;
	}

}

.pull-right {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

.content-header {
	padding-top: 30px;
}

// checkout page header

.full-height {

	&.img-bg {
		background-image: url(../images/checkout-header.jpg);
	}

	&.text-white {
		.header-top, #breadcrumbs {
			color: white;
			a {
				color: white;

			}
		}

		.nav {
			a.dropdown {
				color: #3a3a3a;
			}
		}

		.category-title {
			color: @heavy-gray-title;
		}

		.underline:after {
			color: white;
		}


	}

}

#header {

	&.full-height.text-white {

		.header-top {
			a:hover {
				color: #ccc;
			}
		}
		
	}
}



.custom-dropdown-toggle {
	cursor: pointer;
}

.custom-dropdown-menu {
	display: none;

	.product-nav-links {
		display: none;
	}

	a {
		display: inline-block;
		padding: .5rem 1rem;
	}

	li {
		&:hover {
    		
    		background-color: #eee;
    	}

    	&:hover a {
    		color: @heavy-gray-title;
    	}
	}

	.decoration {
		padding: .75rem 1rem;
		cursor: auto;

		hr {
			border-width: 1px;
		}
		
	}

	.category-title {
		font-size: 15px;
		white-space: nowrap;
	}

	.ads {
		display: none;
	}

	.triangle {
		display: none;
	}

}

.product-nav-links {

	a {
		font-size: 14px;
		font-weight: normal;
		text-transform: capitalize;
		color: @light-gray;
	}
}

.search-panel {
	display: none;
	position: fixed;
	top: 61px;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 5;
    text-align: center; 

    .container {
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
    }
   

   .search-area {
   		display: flex;
   }

   .form-control {
	   	border: none;
	    border-left: 1.5px solid #ccc;
	    border-radius: 0;
	    background: #f6f6f6;
	    transition: .3s;
		
		&:focus {
			box-shadow: none;

		}
   }

   .btns-group {
   		justify-content: flex-end;

   		.btn {
   			padding: 0;
   			font-size: 18px;
   			color: @light-gray;

   			&:focus {
				box-shadow: none;
				color: @md-gray-title;
			}
   		}
		

   }

   .panel-close {
   		display: inline-block;
	    cursor: pointer;
	    line-height: 3;
	    color: @light-gray;
	    transition: color .3s;

	    &:hover {
	    	color: @md-gray-title;
	    }
   }
}



// cart

.triangle {
    	position: absolute;
    	top: -12px;
    	right: 48px;
    	width: 0;
    	height: 0;
    	border-style: solid;
    	border-width: 0 10px 12px 10px;
    	border-color: transparent transparent #ffffff transparent;
 }

.cart-panel {
	display: none;
	position: absolute;
	top: 45px;
    left: 0;
    right: 0;
	z-index: 10;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: @light-gray;
    background-color: white;

    .container {
		padding: 30px 35px 40px 35px;
	}

    .row {
    	margin-left: -5px;
    	margin-right: -5px;
    }
    
    .col-1, .col-3, .col-8 {
    	padding-left: 5px;
    	padding-right: 5px;
    	align-self: center;
    }

    .cart-items {

		li {
			padding: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
    }


}


.item-name {
	font-size: 15px;
	color: @light-gray;
}

.remove {
	font-size: 20px;
	color: #f05c5c;
	cursor: pointer;
	transition: color .3s;

		&:hover {
			color: #d43535;
		}
}

.cart-subtotal {
	display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.btns-group {
	display: flex;
	justify-content: space-between;

	.btn {
		padding-left: 20px;
		padding-right: 20px;
		font-size: 15px;
		font-weight: 600;
	} 
}

#header {

	a.btn {
		transition: color .3s;
		&:hover {
			color: white;
		}
	}
}

.empty-cart {
	display: none;
	text-align: center;
	font-size: 16px;
}

.addToCart-msg {
	display: none;
	position: fixed;
    background-color: #fdfdfd;
    top: 50%;
    left: 50%;
    width: 250px;
    z-index: 10;
    border-radius: 15px;
    text-align: center;
    transform: translateX(-50%);

    p {
    	margin: 0;
    	font-size: 18px;
    	font-weight: 600;
    	line-height: 35px;
    	color: @light-gray;
    }
}


// content

#content {
	>div {
		padding-top: 50px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 80px;
		}
	}

	.header {

		&.gray-bg, &.img-bg {
			padding: 30px 0;
		}

	}

	div.order-steps {
		padding-top: 50px;
	}

	
}

.gray-bg {
	background-color: #f6f6f6;
}

.img-bg	{
	background-image: url(../images/contact-header.png);
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

#breadcrumbs {
		display: flex;
	    justify-content: center;
	    font-size: 14px;
	    line-height: 3;
	    color: @light-gray;

	    .boundary:after {
	    	font-family: "fontello";
			content: "\f105";
		}

	    a {
	    	color: @light-gray;
	    }
}

.section-title {
	margin-bottom: 30px;
	font-size: 25px;
	text-transform: uppercase;
	color: @heavy-gray-title;
}

.banner {
	position: relative;
	margin-top: 10px;
}

.banner-img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.banner-title {
	letter-spacing: 1px;

	h2 {
		line-height: 1;
		font-size: 35px;
		font-weight: 800;
		
		&:nth-child(2) {
			font-weight: 200;
		}
	}

	
}

h3 {
	&.banner-title {
		font-size: 22px;
		text-transform: uppercase;
	}
}

.banner-text {	
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 8% 10%;
    color: @md-gray-title;

}

.long-ver {
	padding: 5% 15%;
}

.text-area {
	position: relative;
	width: 100%;
	height: 100%;
}

.tag {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.price {
	font-size: 20px;
    font-weight: 600;
}

.price-label {
	position: absolute;
	top: 50%;
	right: 0;
	padding-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;    
    background: #62c5de;
}


.discount {
	text-decoration: line-through;
	opacity: .7;
}

.go-shop {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.detail-btn {
	display: inline-block;
    margin-left: 0.5rem;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 20px;
}


.move-right {
	position: relative;
	animation-name: moveRight;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes moveRight {

	from {
		left: -2px;
	}

	to {
		left: 3px;
	}

}

.stars {
	display: flex;
	font-size: 13px;
	color: #c8a760;
}

.stars.on-pic {
		position: absolute;
	    left: 10px;
	    bottom: 10px;
}

.top {
	position: absolute;
}

.down {
	position: absolute;
	bottom: 0;
}

.placeholder {
	line-height: 13px;
	opacity: 0;
}

.thumbnail {
	position: relative;
}


.discount-label {
    position: absolute;
    top: 12%;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b2cc29;
    color: white;   
}

.new-label {
	position: absolute;
	top: 12%;
    padding: 3px 6px;
	background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;    
    font-size: 14px;
    
}

.new-label.second {
	top: ~"calc(12% + 27px)";
}

.full-padding {
	padding: 20px 40px;
}

.desc {
	margin-left: 15px;
}


.collection-banner {

	.text-area {
		width: 80%;
	}

}

.sofa-banner {
	height: 450px;

	.tag {
		text-align: center;
	}


	.banner-title {
		font-size: 24px;
		font-weight: 600;   	
	}

	.discount {
		line-height: 12px;
	}

	.price {
		span {
			font-size: 16px;
		}
	}


}

.bean-banner, .blue-chair-banner {

	.banner-text {
		padding: 10% 10%;
	}

	.banner-title {
		letter-spacing: 2px;
		font-weight: bold;
	}

	.price {
		font-size: 28px;
		line-height: 2.5;
	}

}

.bean-banner {
	

	.banner-title {
		text-align: right;   	
		color: @lightest-gray;
	}

	.stars {
		justify-content: flex-end;
	}

	.price {
    	color: #991015;
	}

	.go-shop {
		padding: 5px 10px;
		color: white;
    	background-color: black;
    
	}

	.top, .down {
		right: 0;
	}
}

.blue-chair-banner {

	.banner-title, .price, .discount, a {
		color: #2c3e66;
	}

	.price {
		margin-bottom: 10px;
	    line-height: 1.5;

	}
}

.dining-chair-banner, .floor-lamp-banner {
	.tag {
		text-align: right;
	}

	.top, .down {
		right: 0;
	}
}

.floor-lamp-banner {
	.tag {
		color: @lightest-gray;
	}

	.go-shop {
		color: @lightest-gray;
	}
	
}

.stool-banner {
	height: 400px;

	.banner-img {
		object-position: 90%;
	}

	h2:first-child {
		font-weight: 600;
	}

	p {
		width: 70%;
	}

}



.features {

	.control-bar {
		display: none;
	}

	img {
		width: 100%;
	}

	.tag {
		line-height: 2;
		letter-spacing: 2px;
	}

	.banner-title {
		span {
				font-size: 18px;
			}
	}

}

.tabs {
	display: flex;
	font-size: 14px;
	font-weight: 600;
	color: @lightest-gray;

	a {
		color: @lightest-gray;
	}

	.active {
		a {
			color: @heavy-gray-title;
		}
	}
}


.feature {
	margin-top: 15px;
}


.product-name {
	font-size: 16px;
    line-height: 2;
    color: @light-gray;
}

.special-item {
	position: relative;

	.banner-title {
		color:@md-gray-title;
	}

	.product-text {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding: 8% 10%;
	}

	.tag {
		color: @lightest-gray;
	}

	.go-shop {
		position: absolute;
		bottom: 0;
		color: @lightest-gray;
	}
}


.best-seller {
	img {
		width: 100%;
	}	

}

.best-item:nth-child(4) {
	
}


.marked-menu {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 5;
	opacity: 0;
	transition: opacity .5s;

	&.border-type {
		button {
			padding: 0;
		}
	}


    li {
    	border: 1px solid #ccc;
    	margin-left: -1px;
    	padding: 15px 12px;
    	transition: all .3s;

    	&:first-child {
    		flex-grow: 1;
    		text-align: center;
    	}

    	&:hover {
    		background-color: #f5f5f5;
    	}

    	&:hover button {
    		color: @md-gray-title;
    	}
    }

    button {
    	position: relative;
		border: none;
		color: @light-gray;
		background-color: transparent;

		&:focus {
			outline: none;
		}
	}

}

.subtitle {
	margin-left: 3px;
	font-size: 14px;
    letter-spacing: 2px;
    color: @lightest-gray;
}

.slide-bar {
	display: none;
}


.brands {
	img {
		margin: 0 auto;
		width: 60%;
	}
}

.brand-logo {
	padding: 5px 15px;
}


// footer

.footer-top {
	padding-top: 50px;
    padding-bottom: 50px;

    hr {
    	margin: 50px 0;
    }
}

.pros {
	display: flex;
	padding: 15px;

	h5 {
		font-size: 16px;
   		line-height: 14px;
		text-transform: uppercase;
		color: @heavy-gray-title;
	}

	i {
		font-size: 40px;
		line-height: 40px;
		color: @light-gray;
	}

	p {
		color: @md-gray-title;
	}

}


.info {

	color: @lightest-gray;

	p {
		margin: 14px 0;
	}

	li {
		line-height: 2.5;
	}

	a {
		font-size: 14px;
		color: @lightest-gray;
		transition: color .3s;

		&:hover {
			color: @md-gray-title
		}
	}
		
	.address {
		display: flex;
		line-height: 3;
	}
}


.subscribe-bar {


	::placeholder  {
  		font-size: 14px;
		font-weight: bold;
	}

	::-webkit-input-placeholder {
		font-size: 14px;
		font-weight: bold;
	}

	:-ms-input-placeholder {
		font-size: 14px;
		font-weight: bold;
	}

	input {
		border: none;
	    padding: 10px 18px;
	    border-top-left-radius: 30px;
	    border-bottom-left-radius: 30px;
	    width: 60%;

	    &:focus {
	    	outline: 0;
	    }
	}

	.button {
		position: relative;
	    left: -3px;
	    border: none;
	    border-top-right-radius: 30px;
	    border-bottom-right-radius: 30px;
	    padding: 10px 18px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	    background-color: @md-gray-title;
	    transition: .3s;

	      &:focus {
	    	outline: 0;
	    	background-color: @light-gray;
	    }
	}
}

.bordered-ver {
	position: relative;

	input {
		border: 1px solid @light-gray;
		border-radius: 30px;
		width: 100%;

		&:focus {
			box-shadow: 0 0 0 0.1rem rgba(0,0,0,.25);
		}
	}

	.button {
		position: absolute;
    	left: 83%;
		background: transparent;
    	color: @light-gray;

    	&:focus  {
    		color: black;
    		background-color: transparent;
    	}
    
	}
}


.social-icons {
	display: flex;
	
	li {
		margin-right: 10px;
	}
	
	a {
		font-size: 20px;
	}
}

.footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	text-align: center;
}

.copyright {
	font-size: 14px;

	span {
		font-weight: bold;
	}
}

.payment-methods-img {
	display: inline-block;
}


.simple-footer {

	h6 {
		text-transform: uppercase;
	}

	.logo {
		filter: brightness(0);
	}

	
	.info-box:last-child {
		order: -1;
	}

	.copyright {
		color: @md-gray-title;
	}

	.desc {
		margin-top: 45px;
    	margin-bottom: 0;
			
	}
	
}


.popup-modal {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow-y: scroll;
    background-color: rgba(0,0,0,.4);
}

.popup-content {
	position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%); 
    width: 90vw;
    height: 400px;
    background-image: url(../images/chair-popup.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 30% 100%;
    background-color: white;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .banner-text {
    	padding: 15px;
    	background-color: rgba(255,255,255,.5);
    }

    .cancel {
    	text-align: right;
    	font-weight: 600;
    	color: @light-gray;
    }

    .text-bg {
    	font-weight: 800;
    	font-size: 40px;
		color: #ececec;
    }

    .popup-title {
    	color: black;
    }

    .subtitle {
    	margin-left: 0;
    	letter-spacing: 0;
    	color: @light-gray;

    	span {
    		font-weight: 600;
    		color: #f64a4a;
    	}

    }

    .wrapper {
    	position: absolute;
    	top: 45px;
    }

    .subscribe-input {
    	position: absolute;
	    top: 170px;
	    width: 80%;
    }

    .form-control {
    	margin-bottom: 10px;
    	border: none;
    	background-color: #f2f2f2;
    }

    .btn {
    	font-size: 14px;
    	font-weight: 600;
    	background-color: #ff8283;
    	border-color: #ff8283;
    }

	.form-check {
		position: absolute;
    	bottom: 0;

	}
    .form-check-input {
    	margin-top: .35rem;
    }

    .form-check-label {
    	font-size: 13px;
    	color: @light-gray;
    }
}

@keyframes slide {
	from {
		top: 10%;
	}

	to {
		top: 15%;
	}
}



// tablet 

@media (min-width: 768px) {

	// cart


	.triangle {
		right: 5px;
	}

	.wide-header {

		.qty {
			right: 0;
		}

		.triangle {
			right: 5px;
		}
	}

	
	.search-panel {

		.search-area {
			margin: 0 auto;
			width: 50%;
		}
	}


	#cart {
		position: relative;
	}

	.cart-panel {
		top: 40px;
    	right: 0;
    	left: auto;
		width: 400px;
		line-height: 25px;
	}

	.addToCart-msg {	
    	width: 500px;

    p {	
   		line-height: 80px;
    }
}

	.header {
		.row {
			margin-left: -5px;
			margin-right: -5px;
		}

		.col-md-3, .col-md-4, .col-md-6, .col-md-8 {
			padding-left: 5px;
			padding-right: 5px;
		}


	}

	.banner-text {
		padding: 5% 8%;
	}

	.long-ver {
		padding: 8% 5%;
	}

	.best-seller, .brands {

		.section-title {
			margin-bottom: 0;
		}
	}

	.full-padding {
		padding-left: 15px;
		padding-right: 15px;
	}

	
	.collection-banner, .sofa-banner {
		height: 340px;
	}

	.sofa-banner {
		.banner-title {
			font-size: 17px;
		}
	}

	.bean-banner, .blue-chair-banner {

		.banner-text {
			padding: 10% 5%;
		}

		.banner-title {
			font-size: 14px;
		}

		.price {
			font-size: 20px;
		}
		
	}

	.bean-banner {
		height: 166px;

		.price {
			text-align: right;
		}
	}


	.blue-chair-banner {
		height: 162px;

		.price {
			line-height: 1;
			margin-bottom: 0;
		}
	}

	.dining-chair-banner, .floor-lamp-banner {

		.banner-title {
			font-size: 16px;
		}
	}

	.dining-chair-banner {
		height: 125px;

		.banner-img {
			object-position: 20%;
		}
	}

	.floor-lamp-banner {
		height: 200px;

		&.banner {
			margin-top: 15px;
		}
		.banner-img {
			object-position: bottom;
		}
	}

	.stool-banner {
		height: 340px;

	}

	.features {
		
		.row:nth-child(3) {
			margin: 0;
			margin-top: 30px; 

			.col-md-6 {
				padding: 0;
			}
			
		}
	}

	.best-seller {
		.new-label, .discount-label {
			font-size: 12px;
		}
	}


.best-item:nth-child(4) {
	.new-label {
		top: ~"calc(12% + 24px)";
	}
}

	.marked-menu {
		font-size: 12px;
	}

	.brands {
		img {
			width: 100%;
		}

		.row {
			margin-left: -25px;
			margin-right: -25px;
		}

		.brand-logo {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.info {
		text-align: center;

		.logo {
			display: inline-block;
		}

		.address {
			justify-content: center;
		}
	}

	.social-icons {
		justify-content: center;
	}


	.popup-content {
		width: 720px;
		background-position: 150% 60%;

		.banner-text {
			padding-bottom: 30px;
			background-color: transparent;
		}

		.cancel {
			cursor: pointer;
			transition: color .3s;

			&:hover {
				color: @md-gray-title;
			}
		}

		.text-bg {
			padding-left: 20px;
			font-size: 80px;
		}

		.wrapper {
			left: 50px;
   			top: 60px;
		}

		.popup-title {
			font-size: 30px;
   			line-height: 2;
		}

		.subtitle {
			font-size: 16px;
		}

		.subscribe-input {
			left: 50px;
    		width: 50%;
		}

		.form-check {
			left: 50px;
		}
	}

}




// desktop

@media (min-width: 1024px) {

	// header

	#header {
		padding: 0;

		.nav {
			background-color: transparent;

		}

		a {
			transition: color .3s;
			&:hover {
				color: @md-gray-title*1.5;
			}
		}
	}

	.dark-bg {
		background-color: #282828;
	}

	.menu-toggle, .user-toggle {
		display: none;
	}

	.header-top {
		display: flex;
		justify-content: space-between;

		.contact-info {
			display: flex;
			font-size: 14px;


			li {
				padding: 0.75rem 1rem;
			}
		}

		.account {
			display: flex;
		    flex-direction: row;
		    position: static;
		    padding: 0;
    		font-size: 14px;
    		text-transform: capitalize;
    		font-weight: normal;
			background: transparent;

			li {
				padding: 0.75rem 1.5rem;
			}

			a:hover {
		    	background-color: transparent;
		    }
		}

		li {
			transition: background-color .5s;
			&:hover {
				background-color: #3f3e43;
			}
		}

		a {
			color: @light-gray;


		}

	}

	.header-bottom {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#nav-bar {
		display: flex;
	}

	.nav {
		display: flex;
	    flex-direction: row;
	    position: static;
	    padding: 0;
	    font-size: 15px;
	    line-height: 29px;
	    font-weight: 500;
	    color: @md-gray-title;

		a:hover {
		   	background-color: transparent;
		}

	}

	.nav-link {
		padding: 0 20px;
	}

	.nav-side {
		li {
			padding-left: 20px;
		}
		
	}

	#cart {
		display: flex;
	}

	.cart-sum {
		display: block;
		font-size: 14px;
		line-height: 14px;

		div {
			font-weight: 600;
		}
	}
	
	.custom-dropdown-toggle {
		
		&:hover .custom-dropdown-menu{
			visibility: visible;
			opacity: 1;
			
		}
	}

	.custom-dropdown-menu {
		position: absolute;
		top: 81px;
	    right: 15px;
	    width: 960px;
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
    	background: white;
    	text-align: left;
    	box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    	opacity: 0;
    	visibility: hidden;
    	transition: visibility .5s, opacity .5s linear;

    	.product-nav-links {
    		display: block;
    	}


    	.row {
    			margin-left: -10px;
    			margin-right: -10px;
    	}
    	.col-6 , .col-lg {
    		padding-left: 10px;
    		padding-right: 10px;
    	}

    	.triangle {
    		display: block;
    		left: 400px;
    	}

    	.ads {
    		display: flex;
    		padding-top: 50px;
			
			.banner {
				margin-top: 0;
				transition: opacity .4s;

				&:hover {
					opacity: .7;
				}
			}

			.banner-text {
			    padding: 15px 20px;
			}
    	}

    	.text-area {
    		display: flex;
		    flex-direction: column;
		    justify-content: center;
    	}

    	.nav-sofa-banner {
    		text-align: center;
    		line-height: 34px;
    		font-weight: 600;

    		.text-area {
    			
    			div {
    				&:first-child {
    					font-size: 32px;
    					letter-spacing: 20px;
    				}

    				&:nth-child(2) {
    					font-size: 18px;
    				}
    			}
    		}
    	}

    	.nav-lamp-banner {
			text-align: right;

			.text-area {
				div {
					&:first-child {
    					font-size: 20px;
    					letter-spacing: 2px;
    				}

    				&:nth-child(2) {
    					font-size: 13px;
    					color: @light-gray;
    				}
				}
			}

    	}

    	a {
    		padding: 0 1rem;
    	}
	}

	.search-panel {
		top: 154px;

	}

	.wide-header {

		.logo {
			float: left;
		}

		.contact-info {
			display: block;
			float: left;
			padding: 12px 0 0 20px;
			font-size: 12px;
		    font-weight: bold;		    
		}

		.icon-heart-empty {
			display: inline-block;
		}

		.custom-dropdown-menu {
			top: 86px;
			right: 20px;

			.triangle {
				left: 456px;
			}
		}

		.search-panel {
			top: 110px;
		}

	}

	// shopping cart page header

	.full-height {
		position: relative;

		.header-top {
			display: flex;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.login {
			padding-bottom: 0;
			font-size: 14px;

			li {
				&:hover {
					background-color: transparent;
				}
			}
		}

		.header-bottom {
			padding-top: 30px;
			padding-bottom: 30px;
			background-color: white;
		}

		.pull-right {
			padding: 0;
			background: transparent;
		}

		.white-space {
			position: absolute;
		    top: 42px;
		    left: 50%;
		    right: 0;
		    height: 89px;   
		    background: white;

		}

		.nav-side {
			z-index: 2;
		}

		.content-header {
			padding-top: 60px;
		}

		.custom-dropdown-menu {
			top: 76px;
			padding-top: 50px;
			padding-bottom: 50px;

			&.nav-img-bg {
				background-image: url(../images/nav-bg.jpg);
				background-size: cover;
			    background-repeat: no-repeat;
			}

		}

		.search-panel {
			top: 131px;
		}

	}

	.triangle {
		right: 104px;
	}

	.subscribe-bar {

		.button {
			padding: 10px 9px;
			
		}
		
	}


	// content


	#content {
		> div {
			padding-top: 100px;
		}

		.features {
			padding-top: 50px;
		}

		.header {

			&.gray-bg, &.img-bg {
				padding: 50px 0;
			}
			
		}
	}

	h6 {
		margin-bottom: 24px;
		line-height: 29px;
	}

	p {
		margin: 10px 0;
	}

	.full-padding {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.placeholder {
		line-height: 19px;
	} 


	.banner-text {
		padding: 12% 10%;
	}

	.banner-title {
		h2 {
			font-size: 54px;
		}
	}

	.tag {
		font-size: 15px;
		letter-spacing: 2px;
	}

	.underline {
		position: relative;

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			top: 100%;
			left: 0;
			background-color: @light-gray;
			transition: transform .5s;
			transform: scaleX(0);
  			transform-origin: right;
		}

		&:hover::after {
			transform: scaleX(1);
  			transform-origin: left;
		}
	}

	.thumbnail {
		transition: box-shadow .4s;
		&:hover {
			box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
		}

		&:hover .marked-menu {
			opacity: 1;
		}

		&:hover .marked-menu .move-up {
			animation-name: moveUp;
			animation-duration: .6s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in;
			top: 8px;
			opacity: 0;
		}

		&:hover .marked-menu .wishlist {
			animation-delay: .3s;
		}

		&:hover .marked-menu .compare {
			animation-delay: .6s;
		}

		&:hover .marked-menu .eyes-on {
			animation-delay: .6s;
		}
	}

	@keyframes moveUp {
		
		from {
			top: 8px;
			opacity: 0;
		}

		to {
			top: 0px;
			opacity: 1;
		}
	}


	.header {

		.price {
			font-size: 30px;
		}
	}

	.collection-banner {
		height: 563px;

		.text-area {
			width: 75%;
		}
	}

	.sofa-banner {
		height: 563px;

		.banner-title {
			font-size: 25px;
		}

		.price-label {
			padding-top: 30px;
			width: 130px;
			height: 130px;
		}

		.tag {
			margin-bottom: 15px;
			text-align: left;
		}

	}

	.bean-banner, .blue-chair-banner {

		.banner-text {
			padding: 10% 8%;
		}

		.banner-title {
			font-size: 18px;
			line-height: 1.5;
		}

		.price {
			font-size: 26px;
		}
	}

	.bean-banner {
		height: 275px;

		.go-shop {
			transition: all .4s ease-out;

			&:hover {
				background-color: white;
				color: black;
			}
		}
	}

	.blue-chair-banner {
		height: 269px;

		&.banner {
			margin-top: 19px;
		}

		.price {
			line-height: 1.5;
		}

		.underline {
			&:after {
				background-color: #2c3e66;
			}
		}
	}

	.dining-chair-banner, .floor-lamp-banner {

		.banner-text {
			padding: 7%;
		}

		.banner-title {
			font-size: 28px;
		}
	}

	.dining-chair-banner {
		height: 200px;
	}

	.floor-lamp-banner {
		height: 310px;

		&.banner {
			margin-top: 20px;
		}

		.underline {
			&:after {
				background-color: @lightest-gray;
			}
		}
	}

	.stool-banner {
		height: 530px;

		.banner-img {
			object-position: 70%
		}

		.banner-text {
			padding: 6%;
		}
	}


	.banner-text {

		.underline {
			&:after {
				width: 70%;
				height: 2px;
			}
		}
	}

	.sofa-banner, .dining-chair-banner {

		.underline {
			&:after {
				background-color: white;
			}
		}
	}
	
	.product-text {

		.underline {
			&:after {
				width: 55%;
				height: 2px;
			}
		}
	}


	.features {

		.row:nth-child(3) {
			margin-top: 70px;
		}

		.tag {
			font-size: 12px;
		}
	}

	.feature-menu {
		display: flex;
		justify-content: space-between;

		.control-bar {
			display: flex;
		    border-radius: 35px;
		    padding: 5px;
		    font-size: 14px;
		    background: #eee;

    		li {
 		    border-radius: 50%;
		    text-align: center;
		    line-height: 25px;
		    width: 25px;
		    height: 25px;
		    background: white;

    			&:first-child {
    				margin-right: 2px;
    			}
    		}

    		a {
    			color: #bbb;
				transition: color .3s;

    			&:hover {
    				color: #bbb/2;
    			}
    		}
		}
	}

	.tabs {
		line-height: 30px;

		a {
			transition: color .3s;
			&:hover {
				color: @heavy-gray-title;
			}
		}
	}
	
	.feature {
		margin-top: 0;
	}

	.best-seller {

		.desc {
			margin-top: 14px;
		}
		.product-name {
			
			font-size: 14px;
		}
		.price {
			font-size: 18px;
		}
	}

	.brand-logo {
		padding-top: 30px;
		padding-bottom: 30px;
		transition: filter .4s;

		&:hover {
			filter: opacity(.5);
		}
	}

	// footer

	.footer-top {
		padding-top: 80px;
		padding-bottom: 80px;

		hr {
			margin: 70px 0;
		}


		.subscribe, .social-media {
			text-align: right;
		}

			.social-icons {
				justify-content: flex-end;

			li {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}


	.rwo.advantage {
		margin: 0;
	}

	.pros {
		padding: 0;
	}

	.info {
		text-align: left;

		&.row {
			margin: 0;
		}
	
		.col-lg {
			padding: 0;
		}

		.col-lg-2 {
			&:nth-child(2) {
				padding-left: 45px;
			}
		}

		.address {
			justify-content: flex-start;
		}
	}

	.subscribe {
		margin-bottom: 65px;
	}

	

	.copyright {
		float: left;
	}

	.payment-methods-img {
		float: right;
	}

	.simple-footer {

		.info-box:last-child {
			order: 2;
			text-align: right;
		}

		.address {
			justify-content: flex-end;
		}

		.copyright, .payment-methods-img {
			float: none;
		}
	
	}
}