@lightest-gray: #939393;
@light-gray: #747474;
@md-gray: #868686;
@md-gray-title: #535353;
@heavy-gray-title: #3a3a3a;

@import "about.less";
@import "contact.less";
@import "blog-list-sidebar.less";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

body {
	-webkit-font-smoothing: antialiased;	
	-moz-font-smoothing: antialiased;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

img {
	display: block;
}

h2, h3, h4, h5, h6 {
	margin: 0;
}


h6 {
	line-height: 4;
	color: @heavy-gray-title;
}


p {
	margin: 5px 0;
   	line-height: 1.2;
   	font-size: 14px;
}

a {
	color: @heavy-gray-title;

	&:hover {
		text-decoration: none;
	}
}

hr {
	margin: 50px 0;
}

.boundary:after {
	content: "|";
	padding: .75em;
}

.h-title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: @heavy-gray-title;
}

.dropdown:after {
	font-family: "fontello";
	content: "\f107";
	padding-left: 3px;
}


.icon-shopping-bag:before {
	font-weight: 600;
}


// mobile



// header


#header {
	padding: 16px 0;
}

.header-top {

	.contact-info {
		display: none;
	}

}

.account {
	text-transform: uppercase; 

	li {
		padding: .5rem 1rem;
	}
}

.header-bottom {
	display: flex;
	justify-content: space-between;
}

.nav, .account {
	display: none;
	position: absolute;
	top: 61px;
    left: 0;
    right: 0;
    flex-direction: column;
    z-index: 10;
    padding: 20px;
    text-align: right;
    font-weight: 600;
    background: white;
}

.nav-side {
	display: flex;
	font-size: 20px;
	line-height: 29px;
}

.cart-sum {
	display: none;
}

.wide-header {

	.contact-info, .icon-heart-empty {
		display: none;
	}

	#cart {
		position: relative;
	}

	.qty {	
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    border: 1px solid white;
	    border-radius: 50%; 
	    width: 16px;
	    height: 16px;
	    font-size: 12px;
	    text-align: center;
	    line-height: 16px;
	    color: white;
	    background: black;
	}
}


#breadcrumbs {
		display: flex;
	    justify-content: center;
	    font-size: 14px;
	    line-height: 3;
	    color: @light-gray;

	    .boundary:after {
	    	font-family: "fontello";
			content: "\f105";
		}

	    a {
	    	color: @light-gray;

	    	&:hover {
	    		color: @light-gray;
	    		text-decoration: underline;
	    	}
	    }
	}

#content {
	.header {

		&.gray-bg, &.img-bg {
			padding: 30px 0;
			text-align: center;
		}

	}
}




// content

#content {
	>div {
		padding-top: 50px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 80px;
		}
	}
}

.gray-bg {
	background-color: #f6f6f6;
}

.img-bg	{
	background-image: url(../images/contact-header.png);
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.section-title {
	margin-bottom: 30px;
	font-size: 25px;
	text-transform: uppercase;
	color: @heavy-gray-title;
}

.banner {
	position: relative;
	margin-top: 10px;
}

.banner-img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.banner-title {
	letter-spacing: 1px;

	h2 {
		line-height: 1;
		font-size: 35px;
		font-weight: 800;
		
		&:nth-child(2) {
			font-weight: 200;
		}
	}

	
}

h3 {
	&.banner-title {
		font-size: 22px;
		text-transform: uppercase;
	}
}

.banner-text {	
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 8% 10%;
    color: @md-gray-title;

}

.long-ver {
	padding: 5% 15%;
}

.text-area {
	position: relative;
	width: 100%;
	height: 100%;
}

.tag {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.price {
	font-size: 20px;
    font-weight: 600;
}

.price-label {
	position: absolute;
	top: 50%;
	right: 0;
	padding-top: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;    
    background: #62c5de;
}

.discount {
	text-decoration: line-through;
	opacity: .7;
}

.go-shop {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.detail-btn {
	display: inline-block;
    margin-left: 0.5rem;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    height: 22px;
    width: 22px;
    line-height: 20px;

}

.stars {
	display: flex;
	font-size: 13px;
	color: #c8a760;
}

.top {
	position: absolute;
}

.down {
	position: absolute;
	bottom: 0;
}

.placeholder {
	line-height: 13px;
	opacity: 0;
}

.thumbnail {
	position: relative;
}


.discount-label {
    position: absolute;
    top: 12%;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b2cc29;
    color: white;   
}

.new-label {
	position: absolute;
	top: 12%;
    padding: 3px 6px;
	background: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;    
    font-size: 14px;
    
}

.full-padding {
	padding: 20px 40px;
}

.desc {
	margin-left: 15px;
}

::placeholder  {
  		font-weight: bold;
	}

::-webkit-input-placeholder {
		font-weight: bold;
	}

:-ms-input-placeholder {
		font-weight: bold;
	}



.collection-banner {

	.text-area {
		width: 80%;
	}

}

.sofa-banner {
	height: 450px;

	.tag {
		text-align: center;
	}


	.banner-title {
		font-size: 24px;
		font-weight: 600;   	
	}

	.discount {
		line-height: 12px;
	}

	.price {
		span {
			font-size: 16px;
		}
	}


}

.bean-banner, .blue-chair-banner {

	.banner-text {
		padding: 10% 10%;
	}

	.banner-title {
		letter-spacing: 2px;
		font-weight: bold;
	}

	.price {
		font-size: 28px;
		line-height: 2.5;
	}

}

.bean-banner {
	

	.banner-title {
		text-align: right;   	
		color: @lightest-gray;
	}

	.stars {
		justify-content: flex-end;
	}

	.price {
    	color: #991015;
	}

	.go-shop {
		padding: 5px 10px;
		color: white;
    	background-color: black;
    
	}

	.top, .down {
		right: 0;
	}
}

.blue-chair-banner {

	.banner-title, .price, .discount, a {
		color: #2c3e66;
	}

	.price {
		margin-bottom: 10px;
	    line-height: 1.5;

	}
}

.dining-chair-banner, .floor-lamp-banner {
	.tag {
		text-align: right;
	}

	.top, .down {
		right: 0;
	}
}

.floor-lamp-banner {
	.tag {
		color: @lightest-gray;
	}

	.go-shop {
		color: @lightest-gray;
	}
	
}

.stool-banner {
	height: 400px;

	.banner-img {
		object-position: 90%;
	}

	h2:first-child {
		font-weight: 600;
	}

	p {
		width: 70%;
	}

}



.features {

	.control-bar {
		display: none;
	}

	img {
		width: 100%;
	}

	.tag {
		line-height: 2;
		letter-spacing: 2px;
	}

	.banner-title {
		span {
				font-size: 18px;
			}
	}

}

.tabs {
	display: flex;
	font-size: 14px;
	font-weight: 600;
	color: @lightest-gray;

	a {
		color: @lightest-gray;
	}

	.active {
		a {
			color: @heavy-gray-title;
		}
	}
}


.feature {
	margin-top: 15px;
}


.product-name {
	font-size: 16px;
    line-height: 2;
    color: @light-gray;
}

.special-item {
	position: relative;

	.banner-title {
		color:@md-gray-title;
	}

	.product-text {
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    padding: 8% 10%;
	}

	.tag {
		color: @lightest-gray;
	}

	.go-shop {
		position: absolute;
		bottom: 0;
		color: @lightest-gray;
	}
}


.best-seller {
	img {
		width: 100%;
	}

	.stars {
		position: absolute;
	    left: 10px;
	    bottom: 10px;
	}

	

}

.best-item:nth-child(4) {
	.new-label {
		top: ~"calc(12% + 27px)";
	}
}



.marked-menu {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 5;
	opacity: 0;

	&:hover {
		opacity: 1;
	}

    li {
    	border: 1px solid #ccc;
    	margin-left: -1px;
    	padding: 15px 12px;

    	&:first-child {
    		flex-grow: 1;
    		text-align: center;
    	}

    	&:hover {
    		background-color: #f5f5f5;
    	}
    }

    a {
		color: @lightest-gray;
		transition: color .3s;

    	&:hover {
    		text-decoration: none;
    		color: @lightest-gray;
    	}
    }
}

.subtitle {
	margin-left: 3px;
	font-size: 14px;
    letter-spacing: 2px;
    color: @lightest-gray;
}

.slide-bar {
	display: none;
}


.brands {
	img {
		margin: 0 auto;
		width: 60%;
	}
}

.brand-logo {
	padding: 5px 15px;
}


// footer

.footer-top {
	padding-top: 50px;
    padding-bottom: 50px;
}

.pros {
	display: flex;
	padding: 15px;

	h5 {
		font-size: 16px;
   		line-height: 14px;
		text-transform: uppercase;
		color: @heavy-gray-title;
	}

	i {
		font-size: 40px;
		line-height: 40px;
		color: @light-gray;
	}

	p {
		color: @md-gray-title;
	}

}


.info {

	color: @lightest-gray;

	p {
		margin: 14px 0;
	}

	li {
		line-height: 2.5;
	}

	a {
		font-size: 14px;
		color: @lightest-gray;
		transition: color .3s;

		&:hover {
			color: @md-gray-title
		}
	}
		
	.address {
		display: flex;
		line-height: 3;
	}
}


.search-bar {

	::placeholder  {
  		font-size: 14px;
	}

	::-webkit-input-placeholder {
		font-size: 14px;
	}

	:-ms-input-placeholder {
		font-size: 14px;
	}

	input {
		border: none;
	    padding: 10px 18px;
	    border-top-left-radius: 30px;
	    border-bottom-left-radius: 30px;
	    width: 60%;
	}

	.button {
		position: relative;
	    left: -3px;
	    border: none;
	    border-top-right-radius: 30px;
	    border-bottom-right-radius: 30px;
	    padding: 10px 18px;
		font-size: 14px;
		font-weight: bold;
		color: white;
	    background-color: @md-gray-title;
	}
}

.bordered-ver {
	position: relative;

	input {
		border: 1px solid @light-gray;
		border-radius: 30px;
		width: 100%;
	}

	.button {
		position: absolute;
    	left: 83%;
		background: transparent;
    	color: @light-gray;
    
	}
}


.social-icons {
	display: flex;
	
	li {
		margin-right: 10px;
	}
	
	a {
		font-size: 20px;
	}
}

.footer-bottom {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	text-align: center;
}

.copyright {
	font-size: 14px;

	span {
		font-weight: bold;
	}
}

.payment-methods {
	display: inline-block;
}


.simple-footer {

	.logo {
		filter: brightness(0);
	}

	
	.info-box:last-child {
		order: -1;
	}

	.copyright {
		color: @md-gray-title;
	}

	.desc {
		margin-top: 45px;
    	margin-bottom: 0;
			
	}
	
}



// tablet 

@media (min-width: 768px) {

	

	.header {
		.row {
			margin-left: -5px;
			margin-right: -5px;
		}

		.col-md-3, .col-md-4, .col-md-6, .col-md-8 {
			padding-left: 5px;
			padding-right: 5px;
		}


	}

	.banner-text {
		padding: 5% 8%;
	}

	.long-ver {
		padding: 8% 5%;
	}

	.best-seller, .brands {

		.section-title {
			margin-bottom: 0;
		}
	}

	.full-padding {
		padding-left: 15px;
		padding-right: 15px;
	}

	
	.collection-banner, .sofa-banner {
		height: 340px;
	}

	.sofa-banner {
		.banner-title {
			font-size: 17px;
		}
	}

	.bean-banner, .blue-chair-banner {

		.banner-text {
			padding: 10% 5%;
		}

		.banner-title {
			font-size: 14px;
		}

		.price {
			font-size: 20px;
		}
		
	}

	.bean-banner {
		height: 166px;

		.price {
			text-align: right;
		}
	}


	.blue-chair-banner {
		height: 162px;

		.price {
			line-height: 1;
			margin-bottom: 0;
		}
	}

	.dining-chair-banner, .floor-lamp-banner {

		.banner-title {
			font-size: 16px;
		}
	}

	.dining-chair-banner {
		height: 125px;

		.banner-img {
			object-position: top;
		}
	}

	.floor-lamp-banner {
		height: 200px;

		&.banner {
			margin-top: 15px;
		}
		.banner-img {
			object-position: bottom;
		}
	}

	.stool-banner {
		height: 340px;

	}

	.features {
		
		.row:nth-child(3) {
			margin: 0;
			margin-top: 30px; 

			.col-md-6 {
				padding: 0;
			}
			
		}
	}

	.best-seller {
		.new-label, .discount-label {
			font-size: 12px;
		}
	}


.best-item:nth-child(4) {
	.new-label {
		top: ~"calc(12% + 24px)";
	}
}

	.marked-menu {
		font-size: 12px;
	}

	.brands {
		img {
			width: 100%;
		}

		.row {
			margin-left: -25px;
			margin-right: -25px;
		}

		.brand-logo {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.info {
		text-align: center;

		.logo {
			display: inline-block;
		}

		.address {
			justify-content: center;
		}
	}

	.social-icons {
		justify-content: center;
	}
}

// desktop

@media (min-width: 1024px) {

	// header

	#header {
		padding: 0;

		a {
			transition: color .3s;
			&:hover {
				color: @md-gray-title*1.5;
			}
		}
	}

	.dark-bg {
		background-color: #282828;
	}

	.menu-toggle, .user-toggle {
		display: none;
	}

	.header-top {
		display: flex;
		justify-content: space-between;

		.contact-info {
			display: flex;
			font-size: 14px;


			li {
				padding: 0.75rem 1rem;
			}
		}

		.account {
			display: flex;
		    flex-direction: row;
		    position: static;
		    padding: 0;
    		font-size: 14px;
    		text-transform: capitalize;
    		font-weight: normal;
			background: transparent;

			li {
				padding: 0.75rem 1.5rem;
			}
		}

		li {
			transition: background-color .5s;
			&:hover {
				background-color: #3f3e43;
			}
		}

		a {
			color: @light-gray;

		}

	}

	.header-bottom {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#nav-bar {
		display: flex;
	}

	.nav {
		display: flex;
	    flex-direction: row;
	    position: static;
	    padding: 0;
	    font-size: 15px;
	    line-height: 29px;
	    font-weight: 500;
	    color: @md-gray-title;
	}

	.nav-link {
		padding: 0 20px;
	}

	.nav-side {
		li {
			padding-left: 20px;
		}
		
	}

	#cart {
		display: flex;
	}

	.cart-sum {
		display: block;
		font-size: 14px;
		line-height: 14px;

		div {
			font-weight: 600;
		}
	}

	.wide-header {

		.logo {
			float: left;
		}

		.contact-info {
			display: block;
			float: left;
			padding: 12px 0 0 20px;
			font-size: 12px;
		    font-weight: bold;		    
		}

		.icon-heart-empty {
			display: inline-block;
		}
	}


	// content


	#content {
		> div {
			padding-top: 100px;
		}

		.features {
			padding-top: 50px;
		}

		.header {

			&.gray-bg, &.img-bg {
				padding: 50px 0;
			}
			
		}
	}

	h6 {
		margin-bottom: 24px;
		line-height: 29px;
	}

	p {
		margin: 10px 0;
	}

	hr {
		margin: 70px 0;
	}

	.full-padding {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.placeholder {
		line-height: 19px;
	} 


	.banner-text {
		padding: 12% 10%;
	}

	.banner-title {
		h2 {
			font-size: 54px;
		}
	}

	.tag {
		font-size: 15px;
		letter-spacing: 2px;
	}

	a {
		&.go-shop {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.thumbnail {
		transition: box-shadow .4s;
		&:hover {
			box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
		}
	}


	.header {

		.price {
			font-size: 30px;
		}
	}

	.collection-banner {
		height: 563px;

		.text-area {
			width: 75%;
		}
	}

	.sofa-banner {
		height: 563px;

		.banner-title {
			font-size: 25px;
		}

		.price-label {
			padding-top: 30px;
			width: 130px;
			height: 130px;
		}

		.tag {
			margin-bottom: 15px;
			text-align: left;
		}
	}

	.bean-banner, .blue-chair-banner {

		.banner-text {
			padding: 10% 8%;
		}

		.banner-title {
			font-size: 18px;
			line-height: 1.5;
		}

		.price {
			font-size: 26px;
		}
	}

	.bean-banner {
		height: 275px;
	}

	.blue-chair-banner {
		height: 269px;

		&.banner {
			margin-top: 19px;
		}

		.price {
			line-height: 1.5;
		}
	}

	.dining-chair-banner, .floor-lamp-banner {

		.banner-text {
			padding: 7%;
		}

		.banner-title {
			font-size: 28px;
		}
	}

	.dining-chair-banner {
		height: 200px;
	}

	.floor-lamp-banner {
		height: 310px;

		&.banner {
			margin-top: 20px;
		}
	}

	.stool-banner {
		height: 530px;

		.banner-img {
			object-position: 70%
		}

		.banner-text {
			padding: 6%;
		}
	}

	.features {

		.row:nth-child(3) {
			margin-top: 70px;
		}

		.tag {
			font-size: 12px;
		}
	}

	.feature-menu {
		display: flex;
		justify-content: space-between;

		.control-bar {
			display: flex;
		    border-radius: 35px;
		    padding: 5px;
		    font-size: 14px;
		    background: #eee;

    		li {
 		    border-radius: 50%;
		    text-align: center;
		    line-height: 25px;
		    width: 25px;
		    height: 25px;
		    background: white;

    			&:first-child {
    				margin-right: 2px;
    			}
    		}

    		a {
    			color: #bbb;
				transition: color .3s;

    			&:hover {
    				color: #bbb/2;
    			}
    		}
		}
	}

	.tabs {
		line-height: 30px;

		a {
			transition: color .3s;
			&:hover {
				color: @heavy-gray-title;
			}
		}
	}
	
	.feature {
		margin-top: 0;
	}

	.best-seller {

		.desc {
			margin-top: 14px;
		}
		.product-name {
			
			font-size: 14px;
		}
		.price {
			font-size: 18px;
		}
	}

	.brand-logo {
		padding-top: 30px;
		padding-bottom: 30px;
		transition: filter .4s;

		&:hover {
			filter: opacity(.5);
		}
	}

	// footer

	.footer-top {
		padding-top: 80px;
		padding-bottom: 80px;

		.subscribe, .social-media {
			text-align: right;
		}

			.social-icons {
				justify-content: flex-end;

			li {
				margin-right: 0;
				margin-left: 10px;
			}
		}
	}


	.rwo.advantage {
		margin: 0;
	}

	.pros {
		padding: 0;
	}

	.info {
		text-align: left;

		&.row {
			margin: 0;
		}
	
		.col-lg {
			padding: 0;
		}

		.col-lg-2 {
			&:nth-child(2) {
				padding-left: 45px;
			}
		}

		.address {
			justify-content: flex-start;
		}
	}

	.subscribe {
		margin-bottom: 65px;
	}

	

	.copyright {
		float: left;
	}

	.payment-methods {
		float: right;
	}

	.simple-footer {

		.info-box:last-child {
			order: 2;
			text-align: right;
		}

		.address {
			justify-content: flex-end;
		}

		.copyright, .payment-methods {
			float: none;
		}
	
	}
}