@import "basic.less";


#content {

	.products {
		padding-top: 0;
	}
}

.product-option-menu {
	display: flex;
    justify-content: space-between;
    border-top: 1px solid @lightest-gray;
    border-bottom: 1px solid @lightest-gray;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    
    a {
    	padding: 5px 10px;
    	color: @light-gray;
    }
}

.menu-close {
	padding: 20px;
	text-align: right;
	font-size: 20px;
}




.slide-menu {
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 10;  
    width: 0;
    overflow-x: hidden;
    transition: .5s;

    &.width {
		width: 90%;
	}

    .sidebar-title {
    	padding: 0 20px;
    }

    .sidebar-content {
    	padding: 0 35px 20px 20px;
    }
}


.filter-content {

	h5 {
		font-size: 14px;
		line-height: 6;
		color: @md-gray-title;
	}

	.options {
		padding-bottom: 12px;
		color: @light-gray;
	}

	.option {
		display: flex;
		padding-bottom: 12px;
	    font-size: 14px;
	    line-height: 1;
	}

	.brand-name {
		flex-grow: 1;
		padding-left: 8px;
	}

	.range-bar {
		border-radius: 5px;
    	height: 8px;
		background: #eee;
	}

	.range {
		position: relative;
		left: 10%;
		border-radius: 5px;
		width: 65%;
		height: 8px;
		background: @md-gray-title;
	}

	.start {
		position: absolute;
	    top: -13px;
	    left: -15px;
	    font-size: 16px;
	}

	.end {
		position: absolute;
	    top: -13px;
	    right: -15px;
	    font-size: 16px;
	}

	.price-range {
		display: inline-block;
		line-height: 6;
    	color: @md-gray-title;
	}

	.btn {
		float: right;
		margin-top: 25px;
	}
	
}





